﻿div.header.navbar,div.sidebar,footer,chat{display: none!important;}
.is-collapsed .page-container{padding-left:0!important;}
.main-content{min-height: 100vh!important;padding-top: 0;}
.is-collapsed .full-container{left: 0!important;}
.full-container{top:0;}
.divContent {
    height: calc(100vh - 100px)!important;
}
.row-content {
    max-height: calc(100vh - 120px)!important;
    min-height: calc(100vh - 120px)!important;
}
#popupChat{
    display: none;
}