﻿<style>
    .li_model_column_undo_3 {
        color: #444444 !important;
        border-bottom: solid 1px rgba(0,0,0,.0625);
    }

        .li_model_column_undo_3:hover {
            background-color: aliceblue !important;
            color: #444444 !important;
        }
</style>
<div class="modal fades" id="Modal_SetupFormD" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-lg animated zoomIn faster" style="min-width: 1400px">
        <div class="modal-content no-border">
            <!-- Modal Header -->
            <div modal-movable class="modal-header head-modal no-border">
                <h4 class="modal-title">{{ttitle}}</h4>
                <button type="button" class="close"
                        data-dismiss="modal">
                    <i class="la la-times-circle"></i>
                </button>
            </div>
            <!-- Modal Body -->
            <div class="modal-body hoverscroll pT-0 pB-0">
                <form id="frm" name="frm">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row" style="overflow-x: hidden !important;">
                                <div class="col-md-12 p-0 action-right p-5">
                                    <ul ng-if="$root.roles_Root" class="utop" style="list-style: none">
                                        <li style="float:right">
                                            <div class="active-btn" ng-click="Add_Column_MauFormD()">
                                                <i class="la la-plus-circle"></i>
                                                <span>Thêm</span>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-md-12 p-0">
                                    <div class="bg-white">
                                        <table class="table table-condensed table-hover tbpad mb-0">
                                            <thead>
                                                <tr>
                                                    <th>
                                                        <div class="row">
                                                            <div class="col-md-5">
                                                                <div class="row">
                                                                    <div class="col-md-1">

                                                                    </div>
                                                                    <div class="col-md-6">
                                                                        <span>Tên trường</span>
                                                                    </div>
                                                                    <div class="col-md-5 text-center">
                                                                        <span>Thuộc</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-7">
                                                                <div class="row">
                                                                    <div class="col-md-12">
                                                                        <div class="row">
                                                                            <div class="col-md-2 text-center">
                                                                                <span>Chức năng</span>
                                                                            </div>
                                                                            <div class="col-md-10">
                                                                                <div class="row">
                                                                                    <div class="col-md-2 p-0">

                                                                                    </div>
                                                                                    <div class="col-md-2 p-0 d-flex" style="justify-content: center;">
                                                                                        <span>Là nhãn</span>
                                                                                    </div>
                                                                                    <div class="col-md-3 p-0">
                                                                                        <div class="row">
                                                                                            <div class="col-md-{{Is_length ? '8':'12'}} text-center">
                                                                                                <span>Kiểu trường</span>
                                                                                            </div>
                                                                                            <div class="col-md-4 pL-0" ng-if="Is_length">
                                                                                                <span ng-if="Is_length">Độ dài</span>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="col-md-2 text-center">
                                                                                        <span>Class</span>
                                                                                    </div>
                                                                                    <div class="col-md-3 text-center">
                                                                                        <span>Type</span>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </th>
                                                </tr>
                                            </thead>
                                        </table>
                                        <div class="scroll-outer row-content" style="overflow-x: hidden !important; min-height: calc(100vh - 500px) !important; max-height: calc(100vh - 300px) !important;">
                                            <div class="scroll-inner">
                                                <div class="span4 offset4">
                                                    <!--<ul class="model_column p-0" id="single" dnd-list="listData_Filter_Column">-->
                                                    <ul class="model_column p-0">
                                                        <li class="li_model_column_undo_3 alert alert-gray nomargin m-0" ng-repeat="d in List_Data_SetupFormD track by $index" colorLever="{{d.IsType}}" backgroundLabel="{{d.IsLabel}}" backgroundEdit="{{d.IsEdit}}">
                                                            <div class="row">
                                                                <div class="col-md-5 p-0">
                                                                    <div class="row">
                                                                        <div class="col-md-1">
                                                                            <span style="position:relative; top:9px; left:7px;">Lv{{d.lv}}</span>
                                                                        </div>
                                                                        <div class="col-md-6">
                                                                            <div class="{{(d.lv === null || d.lv === 1) ? '': d.lv === 2 ? 'pL-15' : d.lv === 3 ? 'pL-30' : d.lv === 4 ? 'pL-45' : 'pL-45'}}">
                                                                                <input class="form-control" style="border: none;" type="text" ng-model="d.TenTruong" ng-disabled="!d.IsEdit" ng-required="(d.IsType === 2) ? false : true" placeholder="Nhập tên trường ..." />
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-5 pL-0">
                                                                            <select tooltip-placement="bottom" uib-tooltip="Remove" data-js-select2 class="form-control" ng-model="d.IsParent_ID" ng-options="item.MauFormD_ID as item.TenTruong for item in DataChangeParent" ng-disabled="!d.IsEdit" ng-change="ChangeParent(List_Data_SetupFormD, d, $index)">
                                                                                <option selected="" disabled="disabled">Chọn parent</option>
                                                                            </select>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-7">
                                                                    <div class="row">
                                                                        <div class="col-md-12">
                                                                            <div class="row">
                                                                                <div class="col-md-2">
                                                                                    <div class="d-flex" style="justify-content: space-between; position:relative; top: 7px">
                                                                                        <span ng-class="{'colorDisable': !$root.roles_Root}" ng-click="AddChild_MauFormD(List_Data_SetupFormD, d, $index)" tooltip-placement="bottom" uib-tooltip="{{$root.roles_Root ? 'Add child':''}}"><a><i class="la la-plus-circle"></i></a></span>
                                                                                        <span ng-class="{'colorDisable': !$root.roles_Root}" ng-click="Edit_MauFormD(d)" tooltip-placement="bottom" uib-tooltip="{{(!d.IsEdit && $root.roles_Root)? 'Edit' : (d.IsEdit && $root.roles_Root)? 'Lock' : ''}}"><a><i class="la {{(!d.IsEdit ) ? 'la-edit' : 'la-lock'}}"></i></a></span>
                                                                                        <span ng-class="{'colorDisable': !$root.roles_Root}" ng-click="Remove_MauFormD(List_Data_SetupFormD, d, $index)" tooltip-placement="bottom" uib-tooltip="{{$root.roles_Root ? 'Remove':''}}"><a><i class="la la-close"></i></a></span>
                                                                                        <!--<span  ng-class="{'colorDisable' :($index === List_Data_SetupFormD.length - 1)}" ng-click="MoveDown(List_Data_SetupFormD, d, $index)" tooltip-placement="{{($index !== List_Data_SetupFormD.length - 1) ? 'bottom': ''}}" uib-tooltip="{{($index !== List_Data_SetupFormD.length - 1) ? 'Down': ''}}"><a><i class="la la-angle-down"></i></a></span>
                                                                                        <span ng-class="{'colorDisable' :($index === 0)}" ng-click="MoveUp(List_Data_SetupFormD, d, $index)" tooltip-placement="{{($index !== 0) ? 'bottom' : ''}}" uib-tooltip="{{($index !== 0) ? 'Up' : ''}}"><a><i class="las la-angle-up"></i></a></span>-->
                                                                                        <span ng-class="{'colorDisable': (!d.IsDown || !$root.roles_Root)}" ng-click="MoveDown(List_Data_SetupFormD, d, $index)" tooltip-placement="{{d.IsDown ? 'bottom': ''}}" uib-tooltip="{{(d.IsDown && $root.roles_Root) ? 'Down': ''}}"><a><i class="la la-angle-down"></i></a></span>
                                                                                        <span ng-class="{'colorDisable': (!d.IsUp || !$root.roles_Root)}" ng-click="MoveUp(List_Data_SetupFormD, d, $index)" tooltip-placement="{{d.IsUp ? 'bottom' : ''}}" uib-tooltip="{{(d.IsUp && $root.roles_Root) ? 'Up' : ''}}"><a><i class="las la-angle-up"></i></a></span>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="col-md-10">
                                                                                    <div class="row">
                                                                                        <div class="col-md-2 p-0">
                                                                                            <div ng-show="!d.IsLabel" class="d-flex" style="justify-content: center; position:relative; top: 7px">
                                                                                                <a ng-click="Toogle_MauFormD(d)" tooltip-placement="{{d.IsEdit ? 'bottom': ''}}" uib-tooltip="{{d.IsEdit ? 'Click change': ''}}">
                                                                                                    <div class="m-0 p-0" style="border: none;">
                                                                                                        <span ng-repeat="t in listType_Required" ng-if="t.value === d.IsRequired" class="click_function text-uppercase" ng-class="{'note' : d.IsRequired}">{{t.text}}</span>
                                                                                                    </div>
                                                                                                </a>
                                                                                            </div>
                                                                                        </div>
                                                                                        <div class="col-md-2 p-0 d-flex" style="justify-content: center;">
                                                                                            <label class="switch m-0" style="bottom:7px;">
                                                                                                <input type="checkbox" ng-model="d.IsLabel" ng-disabled="!d.IsEdit">
                                                                                                <span class="slider"></span>
                                                                                            </label>
                                                                                        </div>
                                                                                        <div class="col-md-3 p-0">
                                                                                            <div ng-show="!d.IsLabel" class="row">
                                                                                                <div class="col-md-{{(Is_length && d.Islength_row) ? '8' : '12'}}" ng-class="{'invalid' : (d.KieuTruong == null || d.KieuTruong == '')}">
                                                                                                    <select tooltip-placement="bottom" uib-tooltip="Remove" data-js-select2 class="form-control" ng-model="d.KieuTruong" ng-options="item.value as item.text for item in List_TypeColumn" ng-disabled="!d.IsEdit" ng-change="ChangeLength(List_Data_SetupFormD, d, $index)" ng-required="d.IsLabel ? true : false">
                                                                                                        <option selected="" disabled="disabled">Chọn kiểu trường</option>
                                                                                                    </select>
                                                                                                </div>
                                                                                                <div class="col-md-4 pL-0" ng-if="Is_length && d.Islength_row">
                                                                                                    <input ng-if="d.Islength_row" ng-model="d.IsLength" type="text" class="form-control keypresss" ng-disabled="!d.IsEdit" ng-required="d.IsLabel ? true : false" />
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                        <div class="col-md-2 pR-0">
                                                                                            <div ng-show="!d.IsLabel">
                                                                                                <select tooltip-placement="bottom" uib-tooltip="Remove" data-js-select2 class="form-control" ng-model="d.IsClass" ng-options="item.value as item.text for item in List_Data_Class" ng-disabled="!d.IsEdit">
                                                                                                    <option selected="" disabled="disabled">Chọn class</option>
                                                                                                </select>
                                                                                            </div>
                                                                                        </div>
                                                                                        <div class="col-md-3 pR-0">
                                                                                            <div ng-show="!d.IsLabel" ng-class="{'invalid' : (d.IsType != 0 && d.IsType != 1 && d.IsType != 2)}">
                                                                                                <select tooltip-placement="bottom" uib-tooltip="Remove" data-js-select2 class="form-control" ng-model="d.IsType" ng-options="item.value as item.text for item in List_Data_Type" ng-disabled="!d.IsEdit" ng-required="d.IsLabel ? true : false">
                                                                                                    <option selected="" disabled="disabled">Chọn class</option>
                                                                                                </select>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </li>
                                                        <li class="row bg-white">
                                                            <div class="row">
                                                                <div class="col-md-12" ng-if="List_Data_SetupFormD.length == 0" style="position:absolute; top:50%; margin:0px;text-align:center; font-weight:bold;">Chưa có trường</div>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <!--Modal Footer-->
            <div class="modal-footer" style="border-top:none!important;display:block;font-weight:500">
                <button type="button" class="btn btn-secondary btnCancelFrom" data-dismiss="modal" style="float:left">Thoát</button>
                <button ng-if="$root.roles_Root || Mauform.Congty_ID" type="button" class="btn btn-primary btnAddForm" ng-click="Click_Update_MauFormD(frm)" style="float:right">Lưu lại</button>
            </div>
        </div>
    </div>
</div>

<script>
    $('input.keypresss').on('keypresss', function (event) {
        var regex = new RegExp("^[a-zA-Z0-9]+$");
        var key = String.fromCharCode(!event.charCode ? event.which : event.charCode);
        if (!regex.test(key)) {
            event.preventDefault();
            return false;
        }
    });
</script>