﻿::-webkit-scrollbar {
    width: 6px;
    height: 6px !important;
    background-color: #F5F5F5;
}
.hover_click:hover {
    color: #2196f3 !important;
    cursor: pointer !important;
}

.tbpad td, .tbpad th {
    height: 42px !important;
}

th.sticky{
    position: -webkit-sticky;
    position: sticky;
    top: -1px;
    outline-offset: -1px;
    color: #313435;
    z-index: 2;
    vertical-align: middle !important;
    background-color: #F9FAFB;
}

th.sticky1 {
    position: -webkit-sticky;
    position: sticky;
    top: 45px;
    outline-offset: -1px;
    color: #313435;
    z-index: 2;
    vertical-align: middle !important;
    background-color: #F9FAFB;
}

th.sticky-left-1, td.sticky-left-1 {
    position: -webkit-sticky;
    position: sticky;
    left: 0px;
    outline-offset: -1px;
    color: #313435;
    z-index: 5;
    vertical-align: middle !important;
}
th.sticky-left-2, td.sticky-left-2 {
    position: -webkit-sticky;
    position: sticky;
    left: 50px;
    outline-offset: -1px;
    color: #313435;
    z-index: 5;
    vertical-align: middle !important;
}
th.sticky-left-3, td.sticky-left-3 {
    position: -webkit-sticky;
    position: sticky;
    left: 200px;
    outline-offset: -1px;
    color: #313435;
    z-index: 5;
    vertical-align: middle !important;
}
th.sticky-left-4, td.sticky-left-4 {
    position: -webkit-sticky;
    position: sticky;
    left: 250px;
    outline-offset: -1px;
    color: #313435;
    z-index: 5;
    vertical-align: middle !important;
}

.table-bordered {
    border-top: none !important;
    border-left: none !important;
}

table tbody + tbody {
    border-top: none !important;
}

.checkbox.checkbox-circle label:before {
    border-radius: 50%;
    border: solid 1px #2f90d1;
}

table{
    border-collapse: initial;
    border-spacing: 0px;
}

table.table_title th, table.table_title td {
    border: 1px solid rgba(0,0,0,.1625) !important;
}
table thead th {
    background-color: #8BCFFB !important;
}
tr td {
    vertical-align: middle !important;
}

td span {
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.menu-task.show {
    top: 31px !important;
    left: 2.45rem !important;
}

td {
    word-break: break-word;
}

td span {
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.btn.btn-secondary:hover {
    background-color: #e6f0f8 !important;
    color: #2f90d1 !important;
}

tbody.bg_Hideteam th {
    background-color: #fff !important;
}