﻿<div class="modal fades" id="ModalDuyetnhieu" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static"  style="background-color: rgba(0,0,0,0.3)">
    <div class="modal-dialog modal-md animated zoomIn faster">
        <div class="modal-content no-border">
            <!-- Modal Header -->
            <div modal-movable class="modal-header head-modal no-border">
                <h4 class="modal-title">Duyệt lịch</h4>
                <div class="float-right">
                    <button type="button" class="close"
                            data-dismiss="modal">
                        <i class="la la-times-circle"></i>
                    </button>
                </div>
            </div>
            <!-- Modal Body -->
            <div class="modal-body" style="padding:10px 20px;">
                <form id="frDuyetnguoi" name="frDuyetnguoi">
                    <div class="row m-0">
                        <style>
                            .aus {
                                border: 1px solid #ccc;
                                padding: 7px;
                                width: 100%;
                                height: 100%;
                                display: block;
                                border-top-right-radius: 5px;
                                border-bottom-right-radius: 5px;
                                background-color: #fff;
                            }
                        </style>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="fw-500">Thời gian</label>
                                <input type="text" value="{{DuyetNhieu.NgayDuyet | date: 'dd/MM/yyyy'}}" style="font-weight:500" class="form-control" disabled>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="fw-500">Nội dung</label>
                                <textarea class="form-control" ng-model="DuyetNhieu.Noidung" rows="3"></textarea>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <!--Modal Footer-->
            <div class="modal-footer" style="border-top:none!important;display:block;font-weight:500">
                <button type="button" class="btn btnCancelFrom" data-dismiss="modal" style="float:left">Huỷ</button>
                <button type="button" class="btn btn-primary btnAddForm" ng-click="SendLichHopTuan()" style="float:right">Gửi</button>
            </div>
        </div>
    </div>
</div>