﻿<style>
    .timeline .itemcalendar .image {
        max-width: none;
        min-width: 110px;
        position: relative;
    }
    .timeline .itemcalendar .image span.spdate {
        display: block;
        clear: both;
        padding: 5px;
        margin: 0.5em 0;
        background: #eee;
        border-radius: 40px;
        position: relative;
        z-index: 1;
    }
    .InfoViewRequest .timeline .itemcalendar .details::before, #AACalendar .itemcalendar .details::before {
        left: -75px;
    }
    .timeline .itemcalendar .details.dft::before {
        height: 50%;
        top: 50% !important;
    }
</style>
<div class="modal fadess" id="ModalLogCalendar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static" style="background-color: rgba(0,0,0,0.3)">
    <div class="modal-dialog animated zoomIn faster" style="width:640px;max-width:640px">
        <div class="modal-content">
            <!-- Modal Header -->
            <div modal-movable class="modal-header head-modal no-border">
                <h4 class="modal-title">Quy trình duyệt</h4>
                <div class="float-right">
                    <button type="button" class="close"
                            data-dismiss="modal">
                        <i class="la la-times-circle"></i>
                    </button>
                </div>
            </div>
            <!-- Modal Body -->
            <div class="modal-body" style="max-height:calc(100vh - 150px);background-color:#fff;margin-right:1px;min-height:300px">
                <!--modal-overflow-->
                <div class="container-tab" style="margin-top:0">
                    <ul class="nav nav-tabs tasktab">
                        <li class="nav-item"><a class="nav-link active" style="padding: 0.5rem 0.7rem;" data-target="#AACalendar" data-toggle="tab"><i class="la la-chart-bar" style="font-size:16px;"></i>&nbsp;Quy trình duyệt ({{ChartsSigns.length}})</a></li>
                        <li class="nav-item"><a class="nav-link" style="padding: 0.5rem 0.7rem;" data-target="#BBCalendar" data-toggle="tab"><i class="la la-clock-o" style="font-size:16px;"></i>&nbsp;Lịch sử ({{(Logs|filter:{IsFlag:LogFlag}|filter:logs).length}})</a></li>
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div class="tab-pane fade in active show chart-tab timeline" id="AACalendar" style="position:relative;height:400px;overflow-y:auto">
                            <div class="item itemcalendar s{{u.IsView}} sign{{u.IsDuyet}} tralai{{!u.IsType}}" ng-repeat="u in ChartsSigns track by u.LichhopFollow_ID">
                                <div class="image">
                                    <div ng-if="u.NhanSu_ID">
                                        <img ng-if="u.anhThumb && u.anhThumb!=='/Content/noavatar.jpg'" class="ava" width="48" height="48" ng-src="{{fileUrl+(u.anhThumb||'/Content/noavatar.jpg')}}" on-error="/Content/noavatar.jpg" style="{{(!u.IsDuyet)?';-webkit-filter: grayscale(80%);filter: grayscale(80%);':''}}" />
                                        <div class="divav" style="display:{{(!u.anhThumb || u.anhThumb==='/Content/noavatar.jpg')?'block':'none'}};background-color:{{$root.bgColor[$index%7]}};color:#fff!important;text-align:center;border-radius:50%;width:48px;height:48px;padding-top: 10px; position:absolute; left: 32px; z-index: 2; border: 2px solid #6fd234;">
                                            <span style="font-size:16px; {{(!u.anhThumb || u.anhThumb==='/Content/noavatar.jpg') ? 'background-color: transparent': ''}}">{{u.ten.trim().substring(0,1)}}</span>
                                        </div>
                                        <span class="spdate" style="line-height:14px; {{(!u.anhThumb || u.anhThumb==='/Content/noavatar.jpg') ? 'top: 54px': ''}}" ng-if="u.IsDuyet==1">
                                            {{u.NgayDuyet | date:'HH:mm dd/MM/yyyy'}}
                                        </span>
                                        <span class="spdate" style="line-height:14px; {{(!u.anhThumb || u.anhThumb==='/Content/noavatar.jpg') ? 'top: 54px': ''}}" ng-if="u.IsDuyet!=1 && u.IsView==1">
                                            {{u.NgayView | date:'HH:mm dd/MM/yyyy'}}
                                        </span>
                                    </div>
                                    <div ng-if="!u.NhanSu_ID">
                                        <div class="card-users">
                                            <ul>
                                                <li ng-repeat="m in u.Users|limitTo :3 track by m.NhanSu_ID" class="IsType0" uib-tooltip="" tooltip-placement="top" uib-tooltip-html="m.fullName+'<br/>'+m.tenChucVu+'<br/>'+m.tenToChuc">
                                                    <img ng-if="m.anhThumb && m.anhThumb!=='/Content/noavatar.jpg'" class="ava" ng-src="{{fileUrl+(m.anhThumb||'/Content/noavatar.jpg')}}" on-error="/Content/noavatar.jpg" style="width:32px;height:32px;-webkit-filter: grayscale(80%);filter: grayscale(80%);" />
                                                    <div class="divav" style="display:{{(!m.anhThumb || m.anhThumb==='/Content/noavatar.jpg')?'block':'none'}};background-color:{{$root.bgColor[$index%7]}};color:#fff!important;text-align:center;border-radius:50%;padding-top:5px;">
                                                        <span>{{m.ten.trim().substring(0,1)}}</span>
                                                    </div>
                                                </li>
                                                <li ng-if="u.Users.length>3" class="IsType1">
                                                    <div class="divav" style="background-color:#f8fafb;color:#98a9bc!important;text-align:center;border-radius:50%;padding-top: 5px;margin-left:-16px;border: none;">
                                                        <span>+{{u.Users.length-3}}</span>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                        <span style="line-height:14px" ng-if="u.NgayView">
                                            {{u.NgayView | date:'HH:mm dd/MM/yyyy'}}
                                        </span>
                                    </div>
                                </div>
                                <div class="details {{$index===0?'dft':$index===ChartsSigns.length-1?'dcc':''}}">
                                    <div>
                                        <h1 class="s{{u.IsView}} sign{{u.IsDuyet}}">{{u.NhanSu_ID?u.fullName:u.NhomDuyetLich_Ten}}</h1>
                                        <div ng-if="u.NhanSu_ID">
                                            <strong ng-if="u.NhanSu_ID" ng-bind="u.tenChucVu" style="font-weight:bold;font-size:13px;color:#aaa"></strong> -
                                            <span ng-bind="u.tenToChuc" style="font-size:13px;color:#aaa"></span>
                                            <p ng-bind="u.Noidung" style="margin-top:5px;"></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade chart-tab" id="BBCalendar">
                            <div>
                                <div class="row no-gutters" style="border:1px solid #ccc;border-radius:5px;margin-top:10px">
                                    <div class="col">
                                        <input class="form-control border-right-0 rounded-0" type="search" ng-model="logs" placeholder="Tìm kiếm..." style="border:none;margin:3px;">
                                    </div>
                                    <div class="col-auto">
                                        <div class="btn-group" style="width: 40px;padding: 10px 15px">
                                            <a class="dropdown-toggle no-after" data-toggle="dropdown" title="Chọn trạng thái">
                                                <i class="fa fa-ellipsis-v"></i>
                                            </a>
                                            <ul class="dropdown-menu" role="menu" style="left:-200px">
                                                <li class="dropdown-item {{LogFlag===null}}"><a ng-click="LogFlag=null">Tất cả</a></li>
                                                <li class="dropdown-item {{LogFlag===0}}"><a ng-click="LogFlag=0">Tạo lịch</a></li>
                                                <li class="dropdown-item {{LogFlag===1}}"><a ng-click="LogFlag=1">Sửa lịch</a></li>
                                                <li class="dropdown-item {{LogFlag===2}}"><a ng-click="LogFlag=2">Trình duyệt</a></li>
                                                <li class="dropdown-item {{LogFlag===3}}"><a ng-click="LogFlag=3">Ban hành</a></li>
                                                <li class="dropdown-item {{LogFlag===4}}"><a ng-click="LogFlag=4">Hủy lịch</a></li>
                                                <li class="dropdown-item {{LogFlag===5}}"><a ng-click="LogFlag=5">Nhắc duyệt</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <ul class="list-group autoUser" style="height:400px;margin-top:10px;overflow-y:auto;padding-bottom:5px;padding-right:5px;position:unset" id="style-1">
                                    <li class="list-group-item" ng-if="LogFlag" style="padding:10px" ng-repeat="u in Logs|filter:{IsFlag:LogFlag}|filter:logs track by u.LichLog_ID">
                                        <div style="display:flex" ng-class="u.froles">
                                            <img ng-if="u.anhThumb && u.anhThumb!=='/Content/noavatar.jpg'" class="ava" width="48" height="48" ng-src="{{fileUrl+(u.anhThumb||'/Content/noavatar.jpg')}}" on-error="/Content/noavatar.jpg" />
                                            <div class="divav" style="display:{{(!u.anhThumb || u.anhThumb==='/Content/noavatar.jpg') ?'block':'none'}};background-color:{{$root.bgColor[$index%7]}};color:#fff!important;text-align:center;border-radius:50%;width:48px;height:48px;padding-top: 12px;">
                                                <span>{{u.ten.trim().substring(0,1)}}</span>
                                            </div>
                                            <div style="margin-left:10px" ng-class="u.froles">
                                                <b ng-bind="u.fullName"></b> (<span ng-bind="u.NgayTao | date:'HH:mm dd/MM/yyyy'" style="font-size:12px;color:#aaa"></span>) <span ng-if="u.IsFlag===4" style="color:red;font-weight:bold;margin-left:10px">(Hủy lịch)</span>
                                                <div>
                                                    <strong ng-bind="u.tenChucVu" style="font-weight:bold;font-size:13px;color:#aaa"></strong> -
                                                    <span ng-bind="u.tenToChuc" style="        font-size: 13px;
        color: #aaa
"></span>
                                                </div>
                                                <p ng-bind-html="u.Noidung"></p>
                                                <div ng-if="u.Tenfile">
                                                    <a href="{{u.FilePath}}" target="_blank" style="color:#0066f8"><i class="fa fa-paperclip"></i>&nbsp;{{u.Tenfile}}</a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="list-group-item" ng-if="!LogFlag" style="padding:10px" ng-repeat="u in Logs|filter:logs track by u.LichLog_ID">
                                        <div style="display:flex" ng-class="u.froles">
                                            <img ng-if="u.anhThumb && u.anhThumb!=='/Content/noavatar.jpg'" class="ava" width="48" height="48" ng-src="{{fileUrl+(u.anhThumb||'/Content/noavatar.jpg')}}" on-error="/Content/noavatar.jpg" />
                                            <div class="divav" style="display:{{(!u.anhThumb || u.anhThumb==='/Content/noavatar.jpg')?'block':'none'}};background-color:{{$root.bgColor[$index%7]}};color:#fff!important;text-align:center;border-radius:50%;width:48px;height:48px;padding-top: 12px;">
                                                <span>{{u.ten.trim().substring(0,1)}}</span>
                                            </div>
                                            <div style="margin-left:10px" ng-class="u.froles">
                                                <b ng-bind="u.fullName"></b> (<span ng-bind="u.NgayTao | date:'HH:mm dd/MM/yyyy'" style="font-size:12px;color:#aaa"></span>) <span ng-if="u.IsFlag===4" style="color:red;font-weight:bold;margin-left:10px">(Hủy lịch)</span>
                                                <div>
                                                    <strong ng-bind="u.tenChucVu" style="font-weight:bold;font-size:13px;color:#aaa"></strong> -
                                                    <span ng-bind="u.tenToChuc" style="font-size:13px;color:#aaa"></span>
                                                </div>
                                                <p ng-bind-html="u.Noidung"></p>
                                                <div ng-if="u.Tenfile">
                                                    <a href="{{u.FilePath}}" target="_blank" style="color:#0066f8"><i class="fa fa-paperclip"></i>&nbsp;{{u.Tenfile}}</a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Modal Footer -->
            <div class="modal-footer">
                <div style="display:flex;font-size:12px;flex:1">
                    <span style="background-color:#ff601c;width:12px;height:12px;border-radius:50%;display:block;margin-right:5px"></span> <b>Đang chờ duyệt</b>
                    <span style="background-color:#6fd234;width:12px;height:12px;border-radius:50%;display:block;margin-left:10px;margin-right:5px"></span> <b>Đã duyệt</b>
                </div>
                <button type="button" class="btn btn-default"
                        data-dismiss="modal">
                    <i class="fa fa-power-off"></i> Thoát
                </button>
            </div>
        </div>
    </div>
</div>
<style>
       /*
    *  STYLE 1
    */
       .timeline .item .details.dft::before {
           height: 50%;
           top: 50%;
       }

       .timeline .item .details.dcc::before {
           height: 50%;
       }

       .timeline .item .image .divav span {
           background: unset;
           padding: unset;
           margin: unset;
       }

       .tasktab {
           border-bottom: none;
           display: flex !important;
           min-height: unset !important;
       }

           .tasktab li a.active {
               color: #2196f3 !important;
               font-weight: 500;
               border-bottom: 1px solid #2196f3;
               padding-bottom: 10px;
           }

       #chartSignModal .autoUser li {
           border: 0.5px solid #ccc;
       }

       #style-1::-webkit-scrollbar-track {
           -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
           border-radius: 4px;
           background-color: #F5F5F5;
       }

       #style-1::-webkit-scrollbar {
           width: 6px;
           background-color: #F5F5F5;
       }

       #style-1::-webkit-scrollbar-thumb {
           border-radius: 4px;
           -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
           background-color: #aaa;
       }

    #BBCalendar .btn-group > a:hover i, li.dropdown-item.true > a {
        color: #4585f4 !important
    }

       .timeline .item {
           display: flex;
           max-width: 1000px;
           margin: 0 auto;
       }

           .timeline .item .image {
               padding: 15px 20px;
               width: 150px;
           }

               .timeline .item .image > div {
                   position: relative;
                   text-align: center;
                   font-size: 0.8em;
                   width: 110px;
               }

                   .timeline .item .image > div::after {
                       content: '';
                       width: 100%;
                       height: 0;
                       position: absolute;
                       top: 2.75em;
                       left: 2.5em;
                       z-index: -1;
                   }

               .timeline .item .image img {
                   border-radius: 50%;
                   height: 5em;
                   z-index: 1;
                   position: relative;
                   width: 48px;
                   height: 48px;
               }

           .timeline .item.s0 img {
               -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
               filter: grayscale(100%);
           }

           .timeline .item.s1 img {
               -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
               filter: grayscale(0%);
               border: 2px solid #ff601c;
           }

           .timeline .item.signtrue img {
               -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
               filter: grayscale(0%);
               border: 2px solid #6fd234;
           }

       .item.s0.signtrue img {
           border: 2px solid #0066f8;
       }

       h1.s1 {
           color: #ff601c !important
       }

       h1.signtrue {
           color: #6fd234 !important
       }

       .timeline .item .image span {
           display: block;
           clear: both;
           padding: 5px;
           margin: 0.5em 0;
           background: #eee;
           border-radius: 40px;
           position: relative;
           z-index: 1;
       }

       .timeline .item .details {
           position: relative;
           flex-grow: 1;
       }

           .timeline .item .details > div {
               border: 1px solid #eee;
               border-radius: 10px;
               padding: 10px 15px;
               margin: 10px;
           }

               .timeline .item .details > div h1 {
                   color: #333;
                   font-weight: bold;
                   font-size: 14px;
               }

               .timeline .item .details > div p {
                   margin: 0;
                   padding: 0;
                   line-height: 150%;
               }

           .timeline .item .details::before {
               content: '';
               width: 0;
               height: 100%;
               border-left: 1px solid #ccc;
               position: absolute;
               top: 0;
               left: -75px;
           }

       .timeline .item.s1 .image span {
           background-color: #ff601c;
           color: #fff;
       }

       .timeline .item.signtrue .image span {
           background-color: #6fd234;
           color: #fff;
       }

       .item.s0.signtrue .image span {
           background-color: #0066f8;
       }

       .timeline .item.signtrue.tralaitrue img {
           -webkit-filter: grayscale(0%);
           filter: grayscale(0%);
           border: 2px solid red;
       }

       .timeline .item.signtrue.tralaitrue .image span {
           background-color: red;
           color: #fff;
       }

       .tralaitrue h1.signtrue {
           color: red !important;
       }
</style>