﻿<div class="modal fades" id="ModalBanhanh" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static"  style="background-color: rgba(0,0,0,0.3)">
    <div class="modal-dialog modal-md animated zoomIn faster">
        <div class="modal-content no-border">
            <!-- Modal Header -->
            <div modal-movable class="modal-header head-modal no-border">
                <h4 class="modal-title">{{dTitle}}</h4>
                <div class="float-right">
                    <button type="button" class="close"
                            data-dismiss="modal">
                        <i class="la la-times-circle"></i>
                    </button>
                </div>
            </div>
            <!-- Modal Body -->
            <div class="modal-body" style="padding:10px 20px;">
                <form id="frDuyetBH" name="frDuyetBH">
                    <div class="row m-0">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="fw-500">Thời gian</label>
                                <input type="text" value="{{Duyetbh.NgayDuyet | date: 'dd/MM/yyyy'}}" style="font-weight:500" class="form-control" disabled>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="fw-500">Nội dung</label>
                                <textarea class="form-control" ng-model="Duyetbh.Noidung" rows="3" required></textarea>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <!--Modal Footer-->
            <div class="modal-footer" style="border-top:none!important;display:block;font-weight:500">
                <button type="button" class="btn btnCancelFrom" data-dismiss="modal" style="float:left">Huỷ</button>
                <button type="button" class="btn btn-primary btnAddForm" ng-click="AddDuyetBH(frDuyetBH, isBH)" style="float:right">Đồng ý</button>
            </div>
        </div>
    </div>
</div>