﻿<!--ModalEditCalendar--->
<div class="modal fades" id="ModalEditCalendar" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static"  style="background-color: rgba(0,0,0,0.3)">
    <div class="modal-dialog modal-lg animated zoomIn faster" style="max-width:750px">
        <div class="modal-content no-border">
            <!-- Modal Header -->
            <div modal-movable class="modal-header head-modal no-border">
                <h4 class="modal-title">Cập nhật lịch họp</h4>
                <button type="button" class="close"
                        data-dismiss="modal">
                    <i class="la la-times-circle"></i>
                </button>
            </div>
            <!-- Modal Body -->
            <div class="modal-body" style="padding:10px 20px;overflow-y:auto;overflow-x:hidden;min-height:480px;max-height:calc(100vh - 200px)">
                <form id="frCalendar_LichhopTuan" name="frCalendar_LichhopTuan">
                    <div class="form-group">
                        <label>Nội dung <span class="note">*</span></label> <textarea rows="2" style="font-weight:500" type="text" class="form-control " ng-model="calendar.Noidung" required></textarea>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label class="fw-500">Ngày bắt đầu <span class="note">*</span></label>
                            <div class="dropdown datetimeinput">
                                <div class="input-group">
                                    <input type="text" class="form-control" ng-model="calendar.BatdauNgay" placeholder="dd/MM/yyyy" data-date-time-input="DD/MM/YYYY" required ng-change="checkValidDatetimeKetThuc(1)" />
                                    <a class="dropdown-toggle" role="button" data-toggle="dropdown" data-target="#">
                                        <span class="input-group-append"><span class="input-group-text" style="background: #fff;border-left: 0; height: 35px"><i class="ti-calendar"></i></span></span>
                                    </a>
                                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                        <datetimepicker ng-model="calendar.BatdauNgay" ng-change="checkValidDatetimeKetThuc(1)" data-datetimepicker-config="{ dropdownSelector: '.dropdown-toggle',startView:'day', minView:'day' }"></datetimepicker>
                                    </ul>
                                </div>
                                <div ng-if="loai == 1 && ThongbaoBD != null" style="font-size: 11px; color: red">
                                    <label><i>{{ThongbaoBD}}</i></label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label class="fw-500">Thời gian <span class="note">*</span></label>
                            <div class="input-group" data-placement="top" data-autoclose="true">
                                <input ngBlur="checkValidDatetimeKetThuc()" type="text" class="form-control text-datens text-input-form text-company" style="text-align:center" placeholder="00:00" ui-time-mask="short" ng-model="calendar.gioBatDau" name="gioBatDau" ng-change="checkValidDatetimeKetThuc(1)" required>
                            </div>
                            <div ng-if="loai == 1 && ThongbaoBDgio != null" style="font-size: 11px; color: red">
                                <label><i>{{ThongbaoBDgio}}</i></label>
                            </div>
                        </div>
                    </div>

                    <div class="row" style="margin-top:10px">
                        <div class="col-md-6">
                            <label class="fw-500">Ngày kết thúc dự kiến <span class="note">*</span></label>
                            <div class="dropdown datetimeinput">
                                <div class="input-group">
                                    <input type="text" class="form-control" ng-model="calendar.KethucNgay" placeholder="dd/MM/yyyy" data-date-time-input="DD/MM/YYYY" ng-change="checkValidDatetimeKetThuc(2)" required />
                                    <a class="dropdown-toggle" role="button" data-toggle="dropdown" data-target="#">
                                        <span class="input-group-append"><span class="input-group-text" style="background: #fff;border-left: 0; height: 35px"><i class="ti-calendar"></i></span></span>
                                    </a>
                                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                        <datetimepicker ng-model="calendar.KethucNgay" ng-change="checkValidDatetimeKetThuc(2)" data-datetimepicker-config="{ dropdownSelector: '.dropdown-toggle',startView:'day', minView:'day' }"></datetimepicker>
                                    </ul>
                                </div>
                                <div ng-if="loai == 2 && Thongbao != null" style="font-size: 11px; color: red">
                                    <label><i>{{Thongbao}}</i></label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label class="fw-500">Thời gian <span class="note">*</span></label>
                            <div class="input-group" data-placement="top" data-autoclose="true">
                                <input ngBlur="checkValidDatetimeKetThuc()" type="text" class="form-control text-datens text-input-form text-company" style="text-align:center" placeholder="00:00" ui-time-mask="short" ng-model="calendar.gioKetThuc" name="gioBatDau" ng-change="checkValidDatetimeKetThuc(2)" required>
                            </div>
                            <div ng-if="loai == 2 && Thongbaogio != null" style="font-size: 11px; color: red">
                                <label><i>{{Thongbaogio}}</i></label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group mT-10">
                        <label for="inputState">Người chủ trì</label>
                        <div class="btn-group" style="width: 100%">
                            <div class="ip-us bdr" tabindex="-1" style="width:93%">
                                <ul style="float:left;padding:0" ng-if="chutris">
                                    <li style="height:36px;float:left;list-style-type:none" ng-repeat="m in chutris track by $index">
                                        <div class="label btn-primary" style="white-space:unset;display: inline-flex; margin-top: 2.5px;">
                                            <!--<img class="ava" width="24" height="24" ng-src="{{baseUrl+m.anhThumb}}" />-->
                                            <img ng-if="m.anhThumb && m.anhThumb!=='/Content/noavatar.jpg'" class="ava" width="24" height="24" ng-src="{{fileUrl+(m.anhThumb||'/Content/noavatar.jpg')}}" on-error="/Content/noavatar.jpg" />
                                            <div class="divav" style="display:{{(!m.anhThumb || m.anhThumb==='/Content/noavatar.jpg')?'block':'none'}};background-color:{{$root.bgColor[$index%7]}};color:#fff!important;text-align:center;border-radius:50%;width:24px;height:24px;padding-top:0px;">
                                                <span>{{m.ten.trim().substring(0,1)}}</span>
                                            </div>
                                            <strong ng-bind="m.fullName" style="padding:5px"></strong>
                                            <i class="la la-times" style="color:#fff;" ng-click="removeUser(chutris,$index,1)"></i>
                                        </div>
                                    </li>
                                </ul>
                                <input ng-disabled="chutris && chutris.length>0" class="ipautoUser1 {{calendar.Focus0}}" ng-model="calendar.searchU0" style=" width:100%; border:none;background-color:transparent;padding: 7px 0;" placeholder="{{chutris && chutris.length>0?'':'@ người cần thêm'}}" ng-keyup="complete(calendar.searchU0,calendar,$event,'0')" ng-mouseup="calendar.Focus0=false" />
                                <ul class="list-group autoUser autoUser1" ng-if="calendar.Focus0" tabindex="0" ng-keydown="handleKeyDown(calendar,$event,'0')">
                                    <li class="list-group-item {{focusedIndex == $index?'focus':''}}" style="padding:5px" ng-repeat="u in filterUser| limitTo : 20 " ng-click="clickAddUser(calendar,chutris,u,'0')" ng-mouseup="$parent.focusedIndex = $index">
                                        <div style="display:flex" ng-class="u.froles">
                                            <img ng-if="u.anhThumb && u.anhThumb!=='/Content/noavatar.jpg'" class="ava" width="48" height="48" ng-src="{{fileUrl+(u.anhThumb||'/Content/noavatar.jpg')}}" on-error="/Content/noavatar.jpg" />
                                            <div class="divav" style="display:{{!u.anhThumb || u.anhThumb==='/Content/noavatar.jpg'?'block':'none'}};background-color:{{$root.bgColor[$index%7]}};color:#fff!important;text-align:center;border-radius:50%;width:48px;height:48px;padding-top: 10px;">
                                                <span style="font-size:18px">{{u.ten.trim().substring(0,1)}}</span>
                                            </div>
                                            <div style="margin-left:5px">
                                                <b ng-bind="u.fullName" style="padding:5px"></b>
                                                <strong ng-bind="u.tenChucVu" style="display:block;padding:0 5px;font-weight:500;font-size:12px;color:#aaa"></strong>
                                                <span ng-bind="u.tenToChuc" style="display:block;font-size:12px;color:#aaa;padding:0 5px"></span>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                                <div class="clr"></div>
                            </div>
                            <div style="width: 7%">
                                <a class="aus text-center" ng-click="showusersModal(1,0)" uib-tooltip="Chọn người chủ trì" tooltip-placement="left"><i class="la la-user-plus" style="font-size: 18px;padding-top: 5px;"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="btn-group" style="width: 100%">
                            <div style="width: 93%"><label for="inputState">Người tham dự</label></div>
                            <div ng-if="thamgias.length > 0" ng-click="removeAllUser()" style="width: 7%; text-align: center" uib-tooltip="Xóa tất cả người tham gia" tooltip-placement="left"><i style="font-size:18px; color: red" class="las la-user-times pT-5"></i></div>
                        </div>
                        <div class="btn-group" style="width: 100%">
                            <div class="ip-us bdr" tabindex="-1" style="width: 93%">
                                <ul style="float:left;padding:0" ng-if="thamgias">
                                    <li style="height:36px;float:left;list-style-type:none" ng-repeat="m in thamgias track by $index">
                                        <div class="label btn-info" style="white-space:unset;display: inline-flex; margin-top: 2.5px;">
                                            <!--<img class="ava" width="24" height="24" ng-src="{{baseUrl+m.anhThumb}}" />-->
                                            <img ng-if="m.anhThumb && m.anhThumb!=='/Content/noavatar.jpg'" class="ava" width="24" height="24" ng-src="{{fileUrl+(m.anhThumb||'/Content/noavatar.jpg')}}" on-error="/Content/noavatar.jpg" />
                                            <div class="divav" style="display:{{(!m.anhThumb || m.anhThumb==='/Content/noavatar.jpg')?'block':'none'}};background-color:{{$root.bgColor[$index%7]}};color:#fff!important;text-align:center;border-radius:50%;width:24px;height:24px;padding-top:0px;">
                                                <span>{{m.ten.trim().substring(0,1)}}</span>
                                            </div>
                                            <strong ng-bind="m.fullName" style="padding:5px"></strong>
                                            <i class="la la-times" style="color:#fff;" ng-click="removeUser(thamgias,$index)"></i>
                                        </div>
                                    </li>
                                </ul>
                                <input class="ipautoUser1 {{calendar.Focus1}}" ng-model="calendar.searchU1" style="width: 100%; border: none; background-color: transparent; padding: 7px 0;" placeholder="@ người cần thêm" ng-keyup="complete(calendar.searchU1,calendar,$event,'1')" ng-mouseup="calendar.Focus1=false" />
                                <ul class="list-group autoUser autoUser1" ng-if="calendar.Focus1" tabindex="0" ng-keydown="handleKeyDown(ta,$event,'1')">
                                    <li class="list-group-item {{focusedIndex == $index?'focus':''}}" style="padding:5px" ng-repeat="u in filterUser| limitTo : 20 " ng-click="clickAddUser(calendar,thamgias,u,'1')" ng-mouseup="$parent.focusedIndex = $index">
                                        <div style="display:flex" ng-class="u.froles">
                                            <img ng-if="u.anhThumb && u.anhThumb!=='/Content/noavatar.jpg'" class="ava" width="48" height="48" ng-src="{{fileUrl+(u.anhThumb||'/Content/noavatar.jpg')}}" on-error="/Content/noavatar.jpg" />
                                            <div class="divav" style="display:{{!u.anhThumb || u.anhThumb==='/Content/noavatar.jpg'?'block':'none'}};background-color:{{$root.bgColor[$index%7]}};color:#fff!important;text-align:center;border-radius:50%;width:48px;height:48px;padding-top: 12px;">
                                                <span>{{u.ten.trim().substring(0,1)}}</span>
                                            </div>
                                            <div style="margin-left:5px">
                                                <b ng-bind="u.fullName" style="padding:5px"></b>
                                                <strong ng-bind="u.tenChucVu" style="display:block;padding:0 5px;font-weight:500;font-size:12px;color:#aaa"></strong>
                                                <span ng-bind="u.tenToChuc" style="display:block;font-size:12px;color:#aaa;padding:0 5px"></span>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                                <div class="clr"></div>
                            </div>
                            <div style="width: 7%">
                                <a class="aus text-center" ng-click="showusersModal(2,1)" uib-tooltip="Chọn người tham gia" tooltip-placement="left"><i class="la la-users" style="font-size: 20px;padding-top: 5px;"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="fw-500">Số người tham dự</label>
                                <input type="number" class="form-control" ng-model="calendar.Songuoithamdu" />
                            </div>
                        </div>
                    </div>
                    <style>
                        .aus {
                            border: 1px solid #ccc;
                            padding: 7px;
                            width: 100%;
                            height: 100%;
                            display: block;
                            border-top-right-radius: 5px;
                            border-bottom-right-radius: 5px;
                            background-color: #fff;
                        }

                        #addDD::after {
                            display: none;
                        }
                    </style>
                    <div class="form-group {{calendar.Diadiem_ID == null && Islaplich == true || calendar.Diadiem_ID == '?' && Islaplich == true ? 'phonghop' : ''}}">
                        <label for="inputState">Phòng họp <span class="note">*</span></label>
                        <div class="btn-group" style="width: 100%">
                            <div class="bdr" style="width: 93%">
                                <select data-js-select2 class="form-control text-company" style="float: left!important; height: 34px !important;" ng-model="calendar.Diadiem_ID" ng-options="item.Diadiem_ID as item.Diadiem_Ten for item in tudiens[0]" ng-change="" required>
                                </select>
                            </div>
                            <div style="width: 7% ; height: 36px">
                                <a class="aus text-center dropdown-toggle" id="addDD" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" ng-click="" uib-tooltip="Thêm địa điểm ngoài công ty" tooltip-placement="left"><i class="las la-plus-circle" style="font-size: 20px;"></i></a>
                                <div class="dropdown-menu row" aria-labelledby="btnGroupDrop1" style="width: 325px">
                                    <div class="col-md-12 pT-5">
                                        <label for="inputState">Địa điểm</label>
                                        <input type="text" class="form-control" ng-model="NamePhongbanNew" />
                                    </div>
                                    <div class="col-md-12 pT-5 pull-right">
                                        <button type="button" class="btn btn-primary btnAddForm" ng-click="AddPhongbanNew(NamePhongbanNew)" style="float:right">Cập nhật</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <style>
                        .modal .phonghop .select2-container--default .select2-selection--single {
                            border: solid 1px red !important;
                        }
                    </style>
                    <div class="form-group" style="margin-bottom:5px">
                        <label class="fw-500">File đính kèm</label>
                        <div class="row" ng-if="(LisFileAttach.length+FilesAttachList.length)>0">
                            <div class="col-md-12 ListImagesFile" style="margin: 5px 0;cursor: pointer">
                                <table class="table table-condensed" style="table-layout: fixed">
                                    <thead>
                                        <tr>
                                            <th width="32"></th>
                                            <th>File</th>
                                            <th width="100" align="center" style="text-align:center">Ngày tải</th>
                                            <th width="80" align="center" style="text-align:center">Size</th>
                                            <th width="40"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="ffile in LisFileAttach track by $index">
                                            <td align="center"><img width="24" ng-src="{{baseUrl+'/Content/file/'+ffile.Dinhdang+'.png'}}" /></td>
                                            <td ng-click="OpenFile(ffile.Duongdan)">{{ffile.Tenfile}}</td>
                                            <td align="center">{{ffile.NgayTao|date:"dd/MM/yyyy"}}</td>
                                            <td align="center">{{ffile.Dungluong|bytes:"MB"}}</td>
                                            <td><a ng-click="DeleteFiles($index,ffile)"><i class="la la-trash-o"></i></a></td>
                                        </tr>
                                    </tbody>
                                    <tbody>
                                        <tr ng-repeat="ffile in FilesAttachList track by $index">
                                            <td align="center"><img width="24" ng-src="{{baseUrl+'/Content/file/'+ffile.Dinhdang+'.png'}}" /></td>
                                            <td>{{ffile.name}}</td>
                                            <td align="center">{{ffile.NgayTao|date:"dd/MM/yyyy"}}</td>
                                            <td align="center">{{ffile.size|bytes:"MB"}}</td>
                                            <td><a ng-click="removeFiles($index)"><i class="la la-trash-o"></i></a></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <button type="button" class="btn btn-primary inputimgFile" title="Attach File" style="border-radius: 3px; margin-top: 5px;display:block" ng-click="openAttachfile($event)">
                            <i style="color: #fff; font-size: 18px;margin: 0" class="fa fa-upload" aria-hidden="true"></i>
                        </button>
                        <input type="file" style="display:none" name="AttachFileFWorks" id="AttachFileFWorks" class="inputimgFile" multiple accept=".xlsx,.xls,.doc,.docx,.ppt,.pptx,.txt,.pdf,.png, .jpg, .jpeg" ngf-select="UploadFiles($files)" />
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="fw-500">Họp bình thường</label>
                                <label class="switch" style="margin:5px">
                                    <input type="checkbox" ng-model="calendar.Kieulich" ng-checked="calendar.Kieulich===0" ng-true-value="0">
                                    <span class="slider"></span>
                                </label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="fw-500">Họp trực tuyến</label>
                                <label class="switch" style="margin:5px">
                                    <input type="checkbox" ng-model="calendar.Kieulich" ng-checked="calendar.Kieulich===1" ng-true-value="1">
                                    <span class="slider"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="fw-500">Kiểu lặp</label>
                                <select class="form-control" ng-model="calendar.Laplich" ng-options="item.id as item.value for item in KieuLap"></select>
                            </div>
                        </div>
                        <div class="col-md-6" ng-if="calendar.Laplich!==0">
                            <div class="form-group">
                                <label class="fw-500">Số {{KieuLap[calendar.Laplich].donvi}} lặp</label>
                                <input type="number" class="form-control" ng-model="calendar.Solap" />
                            </div>
                        </div>
                    </div>

                    <div class="form-group" style="margin-top:5px">
                        <div class="form-group" style="margin-top:5px">
                            <label class="fw-500">Người được mời</label> <textarea ng-model="calendar.Thamdu" class="form-control bdc-grey-200 ng-pristine ng-valid ng-empty ng-touched" rows="1" style=""></textarea>
                        </div>
                        <!--<div class="form-group" style="margin-top:5px">
                            <label class="fw-500">Phòng ban được mời</label>
                            <oi-select oi-options="item.tenPhongban for item in phongbans track by item.Phongban_ID"
                                       ng-model="lichphongbans"
                                       multiple
                                       placeholder="Chọn phòng ban"></oi-select>
                        </div>-->
                        <style>
                            .autoUser1 {
                                position: absolute;
                                max-height: 200px;
                                overflow-y: auto;
                                left: 20px;
                                width: 95% !important;
                                margin: 0;
                            }

                            ul.autoUser1 li {
                                cursor: pointer;
                            }

                                ul.autoUser1 li:hover {
                                    background-color: aliceblue;
                                }

                            .datetimepicker table tr {
                                border: none !important;
                            }
                        </style>
                        <div class="form-group  mT-5">
                            <label for="inputState">Phòng ban tham gia</label>
                            <div class="ip-us" tabindex="-1">
                                <ul style="float:left;padding:0" ng-if="lichphongbans">
                                    <li style="height:36px;float:left;list-style-type:none" ng-repeat="m in lichphongbans track by $index">
                                        <div class="label btn-secondary" style="white-space:unset;display: inline-flex;">
                                            <strong ng-bind="m.tenPhongban" style="padding:5px"></strong>
                                            <span style="font-size:11px;padding-top:5px;" ng-bind="m.tenCongty"></span>
                                            <i class="la la-times" style="color:#fff;" ng-click="removePB(lichphongbans,$index)"></i>
                                        </div>
                                    </li>
                                </ul>
                                <input class="ipautoUser1 {{calendar.Focus2}}" ng-model="calendar.searchU2" style="width:100%; border:none;background-color:transparent;padding: 7px 0;" placeholder="@ tên phòng ban" ng-keyup="completePB(calendar.searchU2,calendar,$event)" ng-mouseover="calendar.Focus2=false" />
                                <ul class="list-group autoUser1 au2" ng-if="calendar.Focus2" tabindex="0" ng-keydown="handleKeyDownPB(calendar,$event)" style="border: 1px solid rgba(0,0,0,.15);">
                                    <li class="list-group-item no-hover" style="padding:5px" ng-repeat="(k,v) in filterPB| groupBy : 'tenCongty' ">
                                        <div style="margin-left:5px;color:#2196f3">
                                            <b ng-bind="k" style="padding:5px"></b>
                                        </div>
                                        <ul style="margin:0;padding:0">
                                            <li class="list-group-item" style="padding:5px;margin:5px 10px;border:none" ng-repeat="u in v" ng-click="clickAddPB(calendar,lichphongbans,u)">
                                                <div style="margin-left:5px">
                                                    <b ng-bind="u.tenPhongban" style="padding:5px"></b>
                                                </div>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                                <div class="clr"></div>
                            </div>
                        </div>

                        <div class="form-group" style="margin-top:5px">
                            <label class="fw-500">Ghi chú</label> <textarea ng-model="calendar.Chuanbi" class="form-control bdc-grey-200" rows="2"></textarea>
                        </div>
                    </div>
                </form>
            </div>
            <!--Modal Footer-->
            <div class="modal-footer" style="border-top:none!important;display:block;font-weight:500">
                <button type="button" class="btn btnCancelFrom" data-dismiss="modal" style="float:left">Thoát</button>
                <button type="button" class="btn btn-primary btnAddForm" ng-click="AddCalendar_LichhopTuan(frCalendar_LichhopTuan)" style="float:right">Lưu lại</button>
            </div>
        </div>
    </div>
</div>
<user ng-if="$root.phongbans" vu="vbusers" vp="vbphongbans" h-title="Chọn người dùng" one="one" choice-user="choiceUser(us)" all="$root.congtyIDcha"></user>