﻿<!--ModalCalendar_LogBaoCao--->
<div class="modal fades" id="ModalKetluancuochop" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static"  style="background-color: rgba(0,0,0,0.3)">
    <div class="modal-dialog modal-lg animated zoomIn faster" style="max-width:640px">
        <div class="modal-content no-border">
            <!-- Modal Header -->
            <div modal-movable class="modal-header head-modal no-border">
                <h4 class="modal-title">{{Logtitle}}</h4>
                <button type="button" class="close"
                        data-dismiss="modal">
                    <i class="la la-times-circle"></i>
                </button>
            </div>
            <!-- Modal Body -->
            <div class="modal-body" style="padding:10px 20px;overflow-y:auto;overflow-x:hidden;max-height:calc(100vh - 200px);">
                <ul class="list-group autoUser" style="margin-top:10px;overflow-y:auto;padding-bottom:5px;padding-right:5px;position:unset;" id="style-1">
                    <li class="list-group-item" style="padding:10px; border:  0.5px solid #ccc" ng-repeat="u in ListDataBaocaoLich">
                        <div style="display:flex">
                            <img ng-if="u.anhThumb && u.anhThumb!=='/Content/noavatar.jpg'" class="ava" width="48" height="48" ng-src="{{domainUrl+(u.anhThumb||'/Content/noavatar.jpg')}}" on-error="/Content/noavatar.jpg" />
                            <div class="divav" style="display:{{!u.anhThumb || u.anhThumb==='/Content/noavatar.jpg'?'block':'none'}};background-color:{{bgColorCalendar[$index%7]}};color:#fff!important;text-align:center;border-radius:50%;width:48px;height:48px;padding-top: 12px;">
                                <span>{{u.ten.trim().substring(0,1)}}</span>
                            </div>
                            <div style="margin-left:10px">
                                <b ng-bind="u.fullName"></b> (<span ng-bind="u.NgayBaocao | date:'HH:mm dd/MM/yyyy'" style="font-size:12px;color:#aaa"></span>)
                                <div>
                                    <strong ng-bind="u.tenChucVu" style="font-weight:bold;font-size:13px;color:#aaa"></strong> -
                                    <span ng-bind="u.tenToChuc" style="font-size:13px;color:#aaa"></span>
                                </div>
                                <p ng-bind-html="u.Noidung"></p>
                                <div ng-if="u.Tenfile" ng-click="OpenFile(u.Duongdan)">
                                    <a href="{{u.FilePath}}" target="_blank" style="color:#0066f8"><i class="fa fa-paperclip"></i>&nbsp;{{u.Tenfile}}</a>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
                <div style="text-align: center" ng-if="ListDataBaocaoLich.length == 0">Lịch chưa có báo cáo</div>
            </div>
            <div class="dropdown">
                <div ng-if="IsViewKLCH" class=" modal-header head-modal no-border">
                    <button ng-click="ModalCalendar_BaoCao()" class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">Thêm báo cáo</button>
                </div>
                <div ng-if="IsViewKLCH" class="collapse" id="collapseExample">
                    <div class="modal-content no-border">
                        <!-- Modal Body -->
                        <div class="modal-body" style="padding:10px 20px;overflow-y:auto;overflow-x:hidden;max-height:calc(100vh - 200px)">
                            <form class="form-horizontal" role="form" name="frCalendar_BaoCao" id="frCalendar_BaoCao" novalidate>
                                <div class="form-group">
                                    <label>Nội dung</label> <textarea rows="2" style="font-weight:500" type="text" class="form-control" ng-model="Calendar_BaoCao.Noidung" required></textarea>
                                </div>
                                <div class="form-group mT-10">
                                    <div class="form-group" style="margin-bottom:5px">
                                        <label class="fw-500">File đính kèm</label>
                                        <div class="row" ng-if="(LisFileAttach.length+FilesAttachList.length)>0">
                                            <div class="col-md-12 ListImagesFile" style="margin:5px 0;cursor:pointer">
                                                <table class="table table-condensed" style="table-layout:fixed">
                                                    <thead>
                                                        <tr>
                                                            <th width="32"></th>
                                                            <th>File</th>
                                                            <th width="100" align="center" style="text-align:center">Ngày tải</th>
                                                            <th width="80" align="center" style="text-align:center">Size</th>
                                                            <th width="40"></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr ng-repeat="ffile in LisFileAttach track by $index">
                                                            <td align="center"><img width="24" ng-src="{{baseUrl+'/Content/file/'+ffile.Dinhdang+'.png'}}" /></td>
                                                            <td ng-click="openFile(ffile.Tenfile,ffile.Duongdan)">{{ffile.Tenfile}}</td>
                                                            <td align="center">{{ffile.NgayTao|date:"dd/MM/yyyy"}}</td>
                                                            <td align="center">{{ffile.Dungluong|bytes:"MB"}}</td>
                                                            <td><a ng-click="DeleteFiles($index,ffile)"><i class="la la-trash-o"></i></a></td>
                                                        </tr>
                                                    </tbody>
                                                    <tbody>
                                                        <tr ng-repeat="ffile in FilesAttachList track by $index">
                                                            <td align="center"><img width="24" ng-src="{{baseUrl+'/Content/file/'+ffile.Dinhdang+'.png'}}" /></td>
                                                            <td>{{ffile.name}}</td>
                                                            <td align="center">{{ffile.NgayTao|date:"dd/MM/yyyy"}}</td>
                                                            <td align="center">{{ffile.size|bytes:"MB"}}</td>
                                                            <td><a ng-click="removeFiles($index)"><i class="la la-trash-o"></i></a></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <button type="button" class="btn btn-primary inputimgFile" title="Attach File" style="border-radius: 3px; margin-top: 5px;display:block" ng-click="openAttachfile($event)">
                                            <i style="color: #fff; font-size: 18px;margin: 0" class="fa fa-upload" aria-hidden="true"></i>
                                        </button>
                                        <input type="file" style="display:none" name="AttachFileFWorks" id="AttachFileFWorks" class="inputimgFile" multiple accept=".xlsx,.xls,.doc,.docx,.ppt,.pptx,.txt,.pdf,.png, .jpg, .jpeg" ngf-select="UploadFilesBaoCao($files)" />
                                        <div>
                                            <i>(Nếu muốn đính kèm nhiều file phải giải nén chúng vào cùng 1 file).</i>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!--Modal Footer-->
            <div class="modal-footer" style="border-top:none!important;display:block;font-weight:500">
                <button type="button" class=" collapse btn btn-primary btnAddForm" id="collapseExample" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample" ng-click="AddCalendar_BaocaoLich(frCalendar_BaoCao)" style="float:right">Lưu lại</button>
                <button type="button" class="btn btnCancelFrom" data-dismiss="modal" style="float:left">Thoát</button>
            </div>
        </div>
    </div>
</div>