﻿<div class="modal fades" id="ModalDuyetnguoi" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static"  style="background-color: rgba(0,0,0,0.3)">
    <div class="modal-dialog modal-md animated zoomIn faster">
        <div class="modal-content no-border">
            <!-- Modal Header -->
            <div modal-movable class="modal-header head-modal no-border">
                <h4 class="modal-title">{{ttTilte}}</h4>
                <div class="float-right">
                    <button type="button" class="close"
                            data-dismiss="modal">
                        <i class="la la-times-circle"></i>
                    </button>
                </div>
            </div>
            <!-- Modal Body -->
            <div class="modal-body" style="padding:10px 20px;">
                <form id="frDuyetnguoi" name="frDuyetnguoi">
                    <div class="row m-0">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="fw-500">Người nhận</label>
                                <div class="btn-group" style="width: 100%">
                                    <div style="width: 93%">
                                        <div class="ip-us" tabindex="-1" style="height: 80px;padding: 15px;cursor:pointer">
                                            <div ng-click="goTagU(true)" class="li-tag-news" ng-if="Duyetnguoi.NhanSu_ID">
                                                <div style="display:flex">
                                                    <img ng-if="Nhansu.anhThumb && Nhansu.anhThumb!=='/Content/noavatar.jpg'" class="ava" width="48" height="48" ng-src="{{fileUrl+(Nhansu.anhThumb||'/Content/noavatar.jpg')}}" on-error="/Content/noavatar.jpg" />
                                                    <div class="divav" style="display:{{!Nhansu.anhThumb || Nhansu.anhThumb==='/Content/noavatar.jpg'?'block':'none'}};background-color:{{bgColorCalendar[1%7]}};color:#fff!important;text-align:center;border-radius:50%;width:48px;height:48px;padding-top: 12px;">
                                                        <span>{{Nhansu.ten.trim().substring(0,1)}}</span>
                                                    </div>
                                                    <div style="margin-left:5px">
                                                        <b ng-bind="Nhansu.fullName" style="padding:5px"></b>
                                                        <strong ng-bind="Nhansu.tenChucVu" style="display:block;padding:0 5px;font-weight:500;font-size:12px;color:#aaa"></strong>
                                                        <span ng-bind="Nhansu.tenPhongban" style="display:block;font-size:12px;color:#aaa;padding:0 5px"></span>

                                                    </div>
                                                    <div style="margin-left:5px">
                                                        <i class="la la-times" style="color:#000;" ng-click="removeUserD(Duyetnguoi)"></i>
                                                    </div>
                                                </div>
                                            </div>
                                            <input ng-if="!Duyetnguoi.NhanSu_ID" ng-keyup="completeDuyetnguoi(Duyetnguoi.searchU,$event)" ng-click="goTagU(true)" ng-model="Duyetnguoi.searchU" class="ipautoUser {{Duyetnguoi.Focus}}" style="border: none; background-color: transparent; padding: 7px 0px;" placeholder="Ấn để thêm" ng-mouseup="Duyetnguoi.Focus=false" />
                                        </div>
                                        <div ng-if="Duyetnguoi.Focus" class="bg-white auto-user-duyet" style="border-radius: 5px;">
                                            <ul class="list-group autoUser1" style="padding-left: 0; box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);transition: all 0.3s cubic-bezier(.25,.8,.25,1);" tabindex="0" ng-keydown="handleKeyDown($event)" aria-expanded="true" aria-hidden="false">
                                                <li class="list-group-item {{focusedIndex == $index?'focus':''}}" ng-repeat="u in filterUser| limitTo : 20 " ng-click="clickAddDuyetnguoi(u)" ng-mouseup="$parent.focusedIndex = $index">
                                                    <div style="display:flex; padding-left: 5px;" ng-class="u.IsActive">
                                                        <img ng-if="u.anhThumb && u.anhThumb!=='/Content/noavatar.jpg'" class="ava" width="48" height="48" ng-src="{{fileUrl+(u.anhThumb||'/Content/noavatar.jpg')}}" on-error="/Content/noavatar.jpg" />
                                                        <div class="divav" style="display:{{!u.anhThumb || u.anhThumb==='/Content/noavatar.jpg'?'block':'none'}};background-color:{{bgColorCalendar[$index%7]}};color:#fff!important;text-align:center;border-radius:50%;width:48px;height:48px;padding-top: 12px;">
                                                            <span>{{u.ten.trim().substring(0,1)}}</span>
                                                        </div>
                                                        <div style="margin-left:5px">
                                                            <b ng-bind="u.fullName" style="padding:5px"></b>
                                                            <strong ng-bind="u.tenChucVu" style="display:block;padding:0 5px;font-weight:500;font-size:12px;color:#aaa"></strong>
                                                            <span ng-bind="u.tenPhongban" style="display:block;font-size:12px;color:#aaa;padding:0 5px"></span>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                            <div class="clr"></div>
                                        </div>
                                    </div>
                                    <div>
                                        <a class="aus text-center" ng-click="showusersModal(1,2)" uib-tooltip="Chọn người trình duyệt" tooltip-placement="left"><i class="la la-user-plus" style="font-size: 18px;padding-top: 22px;"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <style>
                            .aus {
                                border: 1px solid #ccc;
                                padding: 7px;
                                width: 100%;
                                height: 100%;
                                display: block;
                                border-top-right-radius: 5px;
                                border-bottom-right-radius: 5px;
                                background-color: #fff;
                            }
                        </style>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="fw-500">Thời gian</label>
                                <input type="text" value="{{Duyet.NgayDuyet | date: 'dd/MM/yyyy'}}" style="font-weight:500" class="form-control" disabled>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="fw-500">Nội dung</label>
                                <textarea class="form-control" ng-model="Duyet.Noidung" rows="3"></textarea>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <!--Modal Footer-->
            <div class="modal-footer" style="border-top:none!important;display:block;font-weight:500">
                <button type="button" class="btn btnCancelFrom" data-dismiss="modal" style="float:left">Huỷ</button>
                <button type="button" class="btn btn-primary btnAddForm" ng-click="AddDuyetNguoi()" style="float:right">Gửi</button>
            </div>
        </div>
    </div>
</div>