﻿<div class="modal fades" id="ModalDuyetnhom" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static"  style="background-color: rgba(0,0,0,0.3)">
    <div class="modal-dialog modal-md animated zoomIn faster">
        <div class="modal-content no-border">
            <!-- Modal Header -->
            <div modal-movable class="modal-header head-modal no-border">
                <h4 class="modal-title">{{ttTilte}}</h4>
                <div class="float-right">
                    <button type="button" class="close"
                            data-dismiss="modal">
                        <i class="la la-times-circle"></i>
                    </button>
                </div>
            </div>
            <!-- Modal Body -->
            <div class="modal-body" style="padding:10px 20px;">
                <form id="frDuyetnhom" name="frDuyetnhom" style="max-height:calc(100vh - 202px);overflow-y:auto">
                    <div class="row m-0">
                        <div class="col-md-12">
                            <div class="form-group">
                                <div>
                                    <label class="fw-500">Nhóm duyệt </label>
                                    <div class="nav-item dropdown" style="float:right" ng-if="!IsDaGetQuyTrinh">
                                        <a style="font-weight:bold" data-toggle="dropdown" class="active">
                                            <i class="la la-user-circle" style="font-size:16px"></i> Chọn nhóm
                                        </a>
                                        <ul class="dropdown-menu" style="max-height:calc(50vh - 100px);overflow-y:auto">
                                            <li class="dropdown-item" ng-repeat="n in Nhomduyets track by n.NhomDuyetLich_ID" ng-click="chonNhom(n)">
                                                <div ng-if="n.Users.length>0">
                                                    <div style="font-weight:bold">
                                                        {{n.NhomDuyetLich_Ten}}
                                                    </div>
                                                    <div>
                                                        <span ng-bind="n.KieuDuyet == 0 || n.KieuDuyet == null ? '(duyệt một nhiều)' : n.KieuDuyet? '(duyệt tuần tự)' : ''"></span>
                                                    </div>
                                                    <div class="card-users" style="text-align:center">
                                                        <ul>
                                                            <li ng-repeat="u in n.Users track by u.NhanSu_ID" class="IsType0">
                                                                <img ng-if="u.anhThumb && u.anhThumb!=='/Content/noavatar.jpg'" class="ava" ng-src="{{fileUrl+(u.anhThumb||'/Content/noavatar.jpg')}}" on-error="/Content/noavatar.jpg" />
                                                                <div class="divav" style="display:{{!u.anhThumb || u.anhThumb==='/Content/noavatar.jpg'?'block':'none'}};background-color:{{$root.bgColor[$index%7]}};color:#fff!important;text-align:center;border-radius:50%;padding-top:2px;">
                                                                    <span>{{u.ten.trim().substring(0,1)}}</span>
                                                                </div>
                                                            </li>
                                                            <li ng-if="n.Users.length>10" class="IsType1">
                                                                <div class="divav" style="background-color:#f8fafb;color:#98a9bc!important;text-align:center;border-radius:50%;padding-top: 2px;margin-left:-16px;border: none;">
                                                                    <span>+{{n.Users.length-10}}</span>
                                                                </div>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="ip-us" style="height:100px">
                                    <div ng-if="Duyetnhom.nhomD">
                                        <div style="font-weight:bold;text-align:center">
                                            {{Duyetnhom.nhomD.NhomDuyetLich_Ten}}-{{Duyetnhom.nhomD.KieuDuyet == 0 || Duyetnhom.nhomD.KieuDuyet == null ? '(duyệt một nhiều)' : Duyetnhom.nhomD.KieuDuyet? '(duyệt tuần tự)' : ''}}
                                        </div>
                                        <div class="card-users" style="text-align:center">
                                            <ul>
                                                <li ng-repeat="u in Duyetnhom.nhomD.Users track by u.NhanSu_ID" class="IsType0" uib-tooltip="" tooltip-placement="top" uib-tooltip-html="u.fullName+'<br/>'+u.tenChucVu+'<br/>'+u.tenToChuc">
                                                    <img style="width:48px;height:48px" ng-if="u.anhThumb && u.anhThumb!=='/Content/noavatar.jpg'" class="ava" ng-src="{{fileUrl+(u.anhThumb||'/Content/noavatar.jpg')}}" on-error="/Content/noavatar.jpg" />
                                                    <div class="divav" style="display:{{!u.anhThumb || u.anhThumb==='/Content/noavatar.jpg'?'block':'none'}};background-color:{{$root.bgColor[$index%7]}};color:#fff!important;text-align:center;width:48px;height:48px;border-radius:50%;padding-top:9px;">
                                                        <span>{{u.ten.trim().substring(0,1)}}</span>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="fw-500">Thời gian</label>
                                <input type="text" value="{{Duyetnhom.NgayDuyet | date: 'dd/MM/yyyy'}}" style="font-weight:500" class="form-control" disabled>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="fw-500">Nội dung</label>
                                <textarea class="form-control" ng-model="Duyetnhom.Noidung" rows="3"></textarea>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <!--Modal Footer-->
            <div class="modal-footer" style="border-top:none!important;display:block;font-weight:500">
                <button type="button" class="btn btnCancelFrom" data-dismiss="modal" style="float:left">Huỷ</button>
                <button type="button" class="btn btn-primary btnAddForm" ng-click="clickAddDuyetnhom()" style="float:right">Gửi</button>
            </div>
        </div>
    </div>
</div>