﻿<!--ModalKetquacuochop--->
<div class="modal fades" id="ModalKetquacuochop" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static" style="background-color: rgba(0,0,0,0.3)">
    <div class="modal-dialog modal-lg animated zoomIn faster" style="max-width:900px">
        <div class="modal-content no-border">
            <!-- Modal Header -->
            <div modal-movable class="modal-header head-modal no-border">
                <h4 class="modal-title">{{TDtitle}}</h4>
                <button type="button" class="close"
                        data-dismiss="modal">
                    <i class="la la-times-circle"></i>
                </button>
            </div>
            <!-- Modal Body -->
            <div class="modal-body" style="padding:10px 20px;overflow-y:auto;overflow-x:hidden;max-height:calc(100vh - 200px)">
                <form id="frCalendar_NguoiThamDu" name="frCalendar_NguoiThamDu">
                    <ul class="list-group autoUser" style="margin-top:10px;padding-bottom:5px;padding-right:5px;position:unset" id="style-1">
                        <li class="list-group-item" style="background: #eee">
                            <div class="row">
                                <div class="col-md-6">
                                    <label><b>Người tham gia</b></label>
                                </div>
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-md-3" style="text-align: center">
                                            <label><b>Tham dự</b></label>
                                        </div>
                                        <div class="col-md-9" style="text-align: center">
                                            <label><b>Lý do</b></label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <ul class="list-group autoUser" style="margin-top:10px;overflow-y:auto;padding-bottom:5px;padding-right:5px;position:unset" id="style-1">
                        <li class="list-group-item" style="padding:10px" ng-repeat="u in listngtg">
                            <div class="row">
                                <div class="col-md-6" style="display: flex">
                                    <img ng-if="u.anhThumb && u.anhThumb!=='/Content/noavatar.jpg'" class="ava" width="48" height="48" ng-src="{{fileUrl+(u.anhThumb||'/Content/noavatar.jpg')}}" on-error="/Content/noavatar.jpg" />
                                    <div class="divav" style="display:{{!u.anhThumb || u.anhThumb==='/Content/noavatar.jpg'?'block':'none'}};background-color:{{$root.bgColor[$index%7]}};color:#fff!important;text-align:center;border-radius:50%;width:48px;height:48px;padding-top: 12px;">
                                        <span>{{u.ten.trim().substring(0,1)}}</span>
                                    </div>
                                    <div style="margin-left:10px">
                                        <b ng-bind="u.fullName"></b>
                                        <div>
                                            <strong ng-bind="u.tenChucVu" style="font-weight:bold;font-size:13px;color:#aaa"></strong> -
                                            <span ng-bind="u.tenToChuc" style="font-size:13px;color:#aaa"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="mL-10">
                                                <label class="switch">
                                                    <input type="checkbox" ng-model="u.IsThamGia">
                                                    <span class="slider"></span>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-md-9" ng-if="u.IsThamGia == false">
                                            <div class="mL-10 pT-5">
                                                <input type="text" class="form-control" ng-model="u.Lydo" value="" required />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <div style="text-align: center" ng-if="listngtg.length == 0">Không có người tham dự</div>
                </form>
            </div>
            <!--Modal Footer-->
            <div class="modal-footer" style="border-top:none!important;display:block;font-weight:500">
                <button type="button" class="btn btnCancelFrom" data-dismiss="modal" style="float:left">Thoát</button>
                <button ng-if="IsViewKLCH" type="button" class="btn btn-primary btnAddForm" ng-click="UpdateNguoiThamDu(frCalendar_NguoiThamDu)" style="float:right">Lưu lại</button>
            </div>
        </div>
    </div>
</div>