﻿<div id="viewCalendar">
    <style>
        #viewTask .ul-action {
            margin-top: 10px
        }

            #viewTask .ul-action li {
                list-style-type: none;
                display: block;
                width: 100%;
                margin: 5px 0;
            }

            #viewTask .ul-action > li > a {
                padding: 12px 12px;
                font-size: 14px;
                font-weight: 600;
                background-color: #fff;
                border-radius: 5px;
                display: block;
                width: 100%;
            }
        .tkchung ul li {
            width: 33%;
        }
    </style>
    <div id="infocalendar-overlay" ng-click="closeInfoRequest();"></div>
    <div class="InfoViewRequest">
        <div id="loader" style="display:none;width:100%;position:relative">
            <div class="spinner"></div>
        </div>
        <div class="container-fluid" ng-cloak style="padding-right:0">
            <div class="divContent" id="infocongviec" style="height: calc(100vh);background-color:#eee">
                <div id="info">
                    <div id="ChatCtr" class="row col-md-12" style="padding-right:0; height: calc(100vh)">
                        <div class="col-md-9 bg-white" style="padding-left:30px;">
                            <div style="padding: 5px 10px">
                                <div class="t-r">
                                    <div class="d-crow">
                                        <div style="flex:1;">
                                            <span class="cv-spicon"><i class="la la-check-square-o"></i></span><b class="cv-spname" style="font-size:20px"> {{calendar.Noidung}}</b>
                                        </div>
                                        <!--<a href="" ng-click="$root.Print_Dexuat(calendar)"><i style="font-size:20px;margin-top:5px" class="la la-print"></i></a>
                                        <a id="aeditrq" href="" ng-if="calendar.IsFun && calendar.IsTao" ng-click="EditRequest(calendar)"><i style="font-size:20px;margin-top:5px" class="la la-edit"></i></a>
                                        <span style="padding: 2px 10px;background-color: #ff8b4e;margin:5px!important; color: #fff;display: inline-table;" class="card-nhom text-left" ng-if="calendar.IsChangedQT">Quy trình động</span>-->
                                    </div>
                                    <div style="display:flex;font-size:13px;margin: 5px 18px">
                                        <span>Tạo bởi:</span>
                                        <strong style="font-size:13px;font-weight:700;margin-left:5px;margin-right:5px;color: #2196f3;">{{nguoitao.fullName}}</strong> - <strong style="font-size:13px;color:#72777a;font-weight:400;margin-left:5px">{{calendar.Ngaytao|date:'HH:mm dd/MM'}}</strong>
                                    </div>
                                </div>
                                <div class="tkchung" style="text-align:left">
                                    <ul>
                                        <li class="SoThanhVien" ng-click="scrollTo('#calendar-mem')">
                                            <a><i class="la la-user-alt"></i> <span ng-if="calendar.Songuoithamdu != null">{{calendar.Songuoithamdu}}</span> <span ng-if="calendar.Songuoithamdu == null">{{NguoiThamGia}}</span> người tham gia</a>
                                        </li>
                                        <li ng-if="ThongKeChung.SoComment.length >0" ng-click="scrollTo('#calendar-comment')" class="SoComment">
                                            <a><i class="la la-comment-alt"></i> <span>{{ThongKeChung.SoComment}}</span> Comment</a>
                                        </li>
                                        <li ng-if="ThongKeChung.SoFile.length >0" ng-click="scrollTo('#calendar-file')" class="SoFile">
                                            <a><i class="la la-paperclip"></i> <span>{{ThongKeChung.SoFile}}</span> Files tài liệu</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="tab-content ">
                                    <div id="ttcalendar" class="tab-pane fade in active">
                                        <div class="task-content scrollbox_delayed" style="padding:10px;width:100%;height: calc(100vh);overflow-y: auto;overflow-x:hidden;" id="taskmessagepanel">
                                            <div class="scrollbox-content" id="calendar-ttct">
                                                <div class="row pT-10">
                                                    <div class="col-md-4" ng-if="calendar.ngayCapNhat">
                                                        <div class="t-r">
                                                            <div class="d-crow">
                                                                <span class="cv-spicon"><i class="la la-clock-o"></i></span><b class="cv-spname cv-t" style="font-size:16px"> Ngày cập nhật</b>
                                                            </div>
                                                        </div>
                                                        <p><b style="margin-left:18px;  font-size: 14px;">{{calendar.ngayCapNhat | date:'HH:mm dd/MM/yyyy '}}</b></p>
                                                    </div>
                                                    <div class="col-md-4" ng-if="calendar.BatdauNgay">
                                                        <div class="t-r">
                                                            <div class="d-crow">
                                                                <span class="cv-spicon"><i class="la la-calendar-alt"></i></span><b class="cv-spname cv-t" style="font-size:16px"> Ngày bắt đầu</b>
                                                            </div>
                                                        </div>
                                                        <p><b style="margin-left:18px; font-size: 14px;">{{calendar.BatdauNgay | date:'HH:mm dd/MM/yyyy '}}</b></p>
                                                    </div>
                                                    <div class="col-md-4" ng-if="calendar.KethucNgay" style="">
                                                        <div class="t-r">
                                                            <div class="d-crow">
                                                                <span class="cv-spicon"><i class="la la-calendar-check-o"></i></span><b class="cv-spname cv-t" style="font-size:16px"> Ngày kết thúc</b>
                                                            </div>
                                                        </div>
                                                        <p><b style="margin-left:16px; font-size: 14px;">{{calendar.KethucNgay | date:'HH:mm dd/MM/yyyy '}}</b></p>
                                                    </div>
                                                </div>
                                                <div class="row mB-10" id="calendar-mem">
                                                    <div class="col-md-12" ng-if="chutris &amp;&amp; chutris.length>0" style="">
                                                        <div class="t-r">
                                                            <div class="d-crow">
                                                                <span class="cv-spicon"><i class="la la-user-circle-o"></i></span><b class="cv-spname cv-t" style="font-size:16px"> Người chủ trì</b>
                                                            </div>
                                                        </div>
                                                        <div class="t-r">
                                                            <div class="card-users" style="margin:10px 15px;text-align:left">
                                                                <ul style="float:left;padding:0" ng-if="chutris">
                                                                    <li style="height:36px;float:left;list-style-type:none" ng-repeat="m in chutris track by $index" tooltip-placement="top" uib-tooltip-html="m.fullName+'<br/>'+m.tenChucVu+'<br/>'+m.tenToChuc">
                                                                        <div class="label btn-primary" style="white-space:unset;display: inline-flex;line-height: 1.25;">
                                                                            <!--<img class="ava" width="24" height="24" ng-src="{{baseUrl+m.anhThumb}}" />-->
                                                                            <img ng-if="m.anhThumb && m.anhThumb!=='/Content/noavatar.jpg'" class="ava" width="24" height="24" style="width: 24px; height: 24px" ng-src="{{fileUrl+(m.anhThumb||'/Content/noavatar.jpg')}}" on-error="/Content/noavatar.jpg" />
                                                                            <div class="divav" style="display:{{!m.anhThumb || m.anhThumb==='/Content/noavatar.jpg'?'block':'none'}};background-color:{{$root.bgColor[$index%7]}};color:#fff!important;text-align:center;border-radius:50%;width:24px;height:24px;padding-top:3px;">
                                                                                <span>{{m.ten.trim().substring(0,1)}}</span>
                                                                            </div>
                                                                            <strong ng-bind="m.fullName" style="padding:5px"></strong>
                                                                        </div>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div ng-if="thamgias &amp;&amp; thamgias.length>0" class="" style="">
                                                            <div class="t-r">
                                                                <div class="d-crow">
                                                                    <span class="cv-spicon"><i class="la la-users"></i></span><b class="cv-spname cv-t" style="font-size:16px"> Người tham dự</b>
                                                                </div>
                                                            </div>
                                                            <div class="t-r">
                                                                <div class="card-users" style="margin:10px 15px;text-align:left">
                                                                    <ul style="float:left;padding:0" ng-if="thamgias">
                                                                        <li style="height:36px;float:left;list-style-type:none" ng-repeat="m in thamgias track by $index" tooltip-placement="top" uib-tooltip-html="m.fullName+'<br/>'+m.tenChucVu+'<br/>'+m.tenToChuc">
                                                                            <div class="label btn-info" style="white-space:unset;display: inline-flex; line-height: 1.25; ">
                                                                                <!--<img class="ava" width="24" height="24" ng-src="{{baseUrl+m.anhThumb}}" />-->
                                                                                <img ng-if="m.anhThumb && m.anhThumb!=='/Content/noavatar.jpg'" class="ava" width="24" height="24" style="width: 24px; height: 24px" ng-src="{{fileUrl+(m.anhThumb||'/Content/noavatar.jpg')}}" on-error="/Content/noavatar.jpg" />
                                                                                <div class="divav" style="display:{{!m.anhThumb || m.anhThumb==='/Content/noavatar.jpg'?'block':'none'}};background-color:{{$root.bgColor[$index%7]}};color:#fff!important;text-align:center;border-radius:50%;width:24px;height:24px;padding-top:3px;">
                                                                                    <span>{{m.ten.trim().substring(0,1)}}</span>
                                                                                </div>
                                                                                <strong ng-bind="m.fullName" style="padding:5px"></strong>
                                                                            </div>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="inputState"><span class="cv-spicon"><i class="la la-home"></i></span><b class="cv-spname cv-t" style="font-size:16px"> Phòng họp: </b></label>
                                                    <label style="font-size: 14px;">{{calendar.Diadiem_Ten}}</label>
                                                </div>
                                                <div id="calendar-file" class="form-group" style="margin-bottom:5px" ng-if="(LisFileAttach.length)>0">
                                                    <label class="fw-500"><span class="cv-spicon"><i class="la la-file-alt"></i></span><b class="cv-spname cv-t" style="font-size:16px"> File đính kèm</b></label>
                                                    <div class="row" ng-if="(LisFileAttach.length)>0">
                                                        <div class="col-md-12 ListImagesFile" style="margin:5px 0;cursor:pointer">
                                                            <table class="table table-condensed" style="table-layout:fixed">
                                                                <thead>
                                                                    <tr>
                                                                        <th width="32"></th>
                                                                        <th>File</th>
                                                                        <th width="100" align="center" style="text-align:center">Ngày tải</th>
                                                                        <th width="80" align="center" style="text-align:center">Size</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr ng-repeat="ffile in LisFileAttach track by $index">
                                                                        <td align="center"><img width="24" ng-src="{{baseUrl+'/Content/file/'+ffile.Dinhdang+'.png'}}" /></td>
                                                                        <td ng-click="OpenFile(ffile.Duongdan)">{{ffile.Tenfile}}</td>
                                                                        <td align="center">{{ffile.NgayTao|date:"dd/MM/yyyy"}}</td>
                                                                        <td align="center">{{ffile.Dungluong|bytes:"MB"}}</td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                    <button type="button" class="btn btn-primary inputimgFile" title="Attach File" style="border-radius: 3px; margin-top: 5px;display:block" ng-click="openAttachfile($event)">
                                                        <i style="color: #fff; font-size: 18px;margin: 0" class="fa fa-upload" aria-hidden="true"></i>
                                                    </button>
                                                    <input type="file" style="display:none" name="AttachFileFWorks" id="AttachFileFWorks" class="inputimgFile" multiple accept=".xlsx,.xls,.doc,.docx,.ppt,.pptx,.txt,.pdf,.png, .jpg, .jpeg" ngf-select="UploadFiles($files)" />
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label class="fw-500"><span class="cv-spicon"><i class="la la-table"></i></span><b class="cv-spname cv-t" style="font-size:16px"> Họp bình thường</b></label>
                                                            <label class="switch" style="margin:5px">
                                                                <input type="checkbox" disabled="disabled" ng-model="calendar.Kieulich" ng-checked="calendar.Kieulich===0" ng-true-value="0">
                                                                <span class="slider"></span>
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label class="fw-500"> <span class="cv-spicon"><i class="la la-wifi"></i></span><b class="cv-spname cv-t" style="font-size:16px"> Họp trực tuyến</b></label>
                                                            <label class="switch" style="margin:5px">
                                                                <input type="checkbox" disabled="disabled" ng-model="calendar.Kieulich" ng-checked="calendar.Kieulich===1" ng-true-value="1">
                                                                <span class="slider"></span>
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6" ng-if="calendar.Laplich">
                                                        <div class="form-group">
                                                            <label class="fw-500"><span class="cv-spicon"></span><b class="cv-spname cv-t" style="font-size:16px"> Kiểu lặp: </b></label>
                                                            <label style="font-size: 14px;">{{calendar.value}}</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6" ng-if="calendar.Laplich!==0">
                                                        <div class="form-group">
                                                            <label class="fw-500"><span class="cv-spicon"></span><b class="cv-spname cv-t" style="font-size:16px"> Số {{KieuLap[calendar.Laplich].donvi}} lặp: </b></label>
                                                            <label style="font-size: 14px;">{{calendar.Solap}}</label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group" style="margin-top:5px" ng-if="calendar.Thamdu">
                                                    <label class="fw-500"><span class="cv-spicon"><i class="la la-users"></i></span><b class="cv-spname cv-t" style="font-size:16px"> Người được mời</b></label> <label>{{calendar.Thamdu}}</label>
                                                </div>
                                                <div class="form-group" style="margin-top:5px" ng-if="lichphongbans.length > 0">
                                                    <label class="fw-500"><span class="cv-spicon"><i class="la la-home"></i></span><b class="cv-spname cv-t" style="font-size:16px"> Phòng ban được mời</b></label>
                                                    <oi-select oi-options="item.tenPhongban for item in phongbans track by item.Phongban_ID"
                                                               ng-model="lichphongbans"
                                                               multiple
                                                               placeholder="Chọn phòng ban" disabled="disabled"></oi-select>
                                                </div>
                                                <div class="form-group" style="margin-top:5px" ng-if="calendar.Chuanbi">
                                                    <label class="fw-500"><span class="cv-spicon"><i class="la la-home"></i></span><b class="cv-spname cv-t" style="font-size:16px"> Ghi chú</b></label> <label>{{calendar.Chuanbi}}</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3" ng-if="calendar" style="padding-right:0">
                            <div class="task-content" style="padding:10px;width:100%;overflow-y:hidden; height: 150px">
                                <div class="alert {{calendar.Trangthai===0 ? 'label-primary': calendar.Trangthai===2 ? 'label-success' : calendar.Trangthai===1 ? 'label-info' : calendar.Trangthai===3 ? 'label-danger' : calendar.Trangthai===4 ? 'label-danger' : ''}}" role="alert" style="margin-left: 0px; font-weight: bold; color: #f3f3f3; font-size: 14px">
                                    <i class="la la-info-circle" style="font-size:16px"></i> Trạng thái
                                    <span ng-if="calendar.Trangthai===0">lịch dự thảo</span>
                                    <span ng-if="calendar.Trangthai===2">ban hành</span>
                                    <span ng-if="calendar.Trangthai===1">đang trình</span>
                                    <span ng-if="calendar.Trangthai===3">lịch trả lại</span>
                                    <span ng-if="calendar.Trangthai===4">lịch hủy</span>
                                </div>
                                <div class="form-group">
                                    <label for="">Danh sách người tham gia:</label>
                                    <div class="card-users" style="margin:5px 0;text-align:left ;padding-left: 5px;">
                                        <ul>
                                            <!-- Người tham gia-->
                                            <li ng-repeat="u in listngtg | limitTo : 5" ng-click="ModalUser('Thành phần tham dự',listngtg);$event.stopPropagation()" class="IsType0" uib-tooltip="" tooltip-placement="top" uib-tooltip-html="u.fullName+'<br/>'+u.tenChucVu+'<br/>'+u.tenToChuc">
                                                <img ng-if="u.anhThumb && u.anhThumb!=='/Content/noavatar.jpg'" class="ava" ng-src="{{fileUrl+(u.anhThumb||'/Content/noavatar.jpg')}}" on-error="/Content/noavatar.jpg" />
                                                <div class="divav" style="display:{{!u.anhThumb || u.anhThumb==='/Content/noavatar.jpg'?'block':'none'}};background-color:{{$root.bgColor[$index%7]}};color:#fff!important;text-align:center;border-radius:50%;">
                                                    <span style="display:block;padding-top:3px; font-size: 13px !important">{{u.ten.trim().substring(0,1)}}</span>
                                                </div>
                                            </li>
                                            <li ng-if="listngtg.length>5" ng-click="ModalUser('Thành phần tham dự',listngtg)" class="IsType1">
                                                <div class="divav" style="background-color:#f8fafb;color:#98a9bc!important;text-align:center;border-radius:50%;padding-top: 5px;margin-left:-16px;border: none;">
                                                    <span>+{{listngtg.length-5}}</span>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <hr />
                            </div>
                            <div class="task-content" style="padding:0 10px 10px 10px;width:100%;overflow-y: auto; height: calc(100vh - 150px) !important;">
                                <div ng-if="lichhop.IsQH" class="alert alert-danger" role="alert" style="margin-left: 0px; font-weight: bold;">
                                    <i class="la la-info-circle" style="font-size:16px"></i>
                                </div>
                                <div>
                                    <ul class="nav ul-action">
                                        <li ng-if="calendar.Trangthai===0" class="" ng-click="openModalDuyetNhom()"> <a><i class="la la-users"></i> <span>Chuyển đến nhóm</span></a></li>
                                        <li ng-if="($root.roles_Admin || ListDataFuncCT.Calendar_Trinhdichdanh) && calendar.Trangthai===0" class="" ng-click="openModalDuyetNguoi()"> <a><i class="la la-user"></i> <span>Chuyển đích danh</span></a></li>
                                        <li ng-if="IsDuyetlich && calendar.Trangthai===1" class="" ng-click="ModalDuyet(true, 2)"> <a><i class="fa fa-paper-plane"></i> <span>Duyệt lịch</span></a></li>
                                        <li ng-if="IsDuyetlich && calendar.Trangthai===1" class="" ng-click="openModalBanhanhHuy(false, true)"> <a><i class="fa fa-reply"></i> <span>Trả lại</span></a></li>
                                        <li ng-if="$root.roles_Admin || ((ListDataRoleFunction.Calendar_ChinhsuaKhiDuyet || calendar.Nguoitao == $root.login.u.NhanSu_ID) && calendar.Trangthai!==2) || (((calendar.Nguoitao != $root.login.u.NhanSu_ID && IsEdit_Calendar) || IsEdit_Calendar_Count == 1 || IsEdit_Calendar_nsd)  && calendar.Trangthai===2)" class="" ng-click="SelectmodelEditViewCT()"> <a><i class="la la-edit"></i> <span>Sửa lịch</span></a></li>
                                        <li ng-if="$root.roles_Admin || ListDataRoleFunction.Calendar_Xemlog || (calendar.Nguoitao == $root.login.u.NhanSu_ID)" class="" ng-click="showChartSign(calendar)"> <a><i class="la la-chart-bar"></i> <span> Quy trình xử lý lịch</span></a></li>
                                        <li ng-if="$root.roles_Admin || (calendar.Trangthai===2 && calendar.isKetLuanCH)" ng-click="LogBaoCaoLich(calendar.LichhopTuan_ID)"> <a style="display:block"><i class="la la-sticky-note-o"></i><span> Xem kết luận cuộc họp</span></a></li>
                                        <li ng-if="calendar.Trangthai===2" ng-click="ModalEditNguoiThamDu(calendar)"><a style="display:block"><i class="la la-users-cog" style="font-size:16px;"></i><span> Kết quả cuộc họp</span></a></li>
                                        <li ng-if="(($root.roles_Admin || (ListDataRoleFunction.Calendar_ThuhoilichTDBHDuyetBH && NSfollow )) && calendar.Trangthai === 2)" class="" ng-click="HuyLichTuan(calendar)"> <a ng-click=""><i class="la la-remove"></i> <span>Hủy lịch họp</span></a></li>
                                        <li ng-if="$root.roles_Admin || (ListDataRoleFunction.Calendar_Xoalich && calendar.Trangthai===1) || (calendar.Nguoitao == $root.login.u.NhanSu_ID && calendar.Trangthai===0)" class="" ng-click="DelCalendar_LichhopTuan(calendar)"> <a href="" style="color:red;"><i class="la la-trash-o"></i> <span>Xóa lịch họp</span></a></li>
                                    </ul>
                                </div>
                            </div>
                            <style>
                                .ul-action li {
                                    width: 100%;
                                    list-style-type: none;
                                    padding: 12px 12px;
                                    font-size: 14px;
                                    font-weight: 600;
                                    background-color: #f5f5f5;
                                    margin: 10px 0;
                                    border-radius: 5px;
                                    display: block;
                                }
                            </style>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a href="" class="btn btn-default btn-close" ng-click="closeInfoRequest()"><i class="fa fa-times-circle"></i></a>
        <a href="" class="btn btn-default btn-full" ng-click="fullInfoRequest()" style="bottom:0;top:unset"><i class="fa fa-expand"></i></a>
    </div>
    <div ng-include="'/App/Component/Calendar/ModalEditCalendar.html?v={{$root.vcache}}'"></div>
    <div ng-include="'/App/Component/Calendar/ModalLogCalendar.html?v={{$root.vcache}}'"></div>
    <div ng-include="'/App/Component/Calendar/ModalKetluancuochop.html?v={{$root.vcache}}'"></div>
    <div ng-include="'/App/Component/Calendar/ModalKetquacuochop.html?v={{$root.vcache}}'"></div>
    <div ng-include="'/App/Component/Calendar/ModalDuyetnhieu.html?v={{$root.vcache}}'"></div>
    <div ng-include="'/App/Component/Calendar/ModalDuyetnhom.html?v={{$root.vcache}}'"></div>
    <div ng-include="'/App/Component/Calendar/ModalDuyetnguoi.html?v={{$root.vcache}}'"></div>
    <div ng-include="'/App/Component/Calendar/ModalBanhanh.html?v={{$root.vcache}}'"></div>
</div>