﻿<style>
    .alert {
        position: relative;
        padding: 12px 20px;
        padding: .75rem 1.25rem !important;
        margin-bottom: 16px;
        margin-bottom: 1rem !important;
        border: 1px solid transparent;
        border-radius: .25rem
    }
    .hoverscroll_export:hover {
        overflow-y: auto !important;
    }
    .modal .tasktab_2 li, .modal .tasktab_2 li {
        border-bottom: 1px solid #2196f3;
        color: #2196f3 !important;
        padding-bottom: 10px;
    }

    .hoverscroll:hover {
        overflow-y: auto !important;
    }

    .border_export {
        border: solid 1px #ccc !important;
        border-radius: 5px !important;
    }

    .margin_ecport1 {
        margin-left: 30px !important;
        margin-right: 0px !important;
    }

    .margin_ecport2 {
        margin-right: 30px !important;
        margin-left: 0px !important;
    }

    .wardall span {
        font-size: 18px !important;
    }

    .model_column {
        padding: 0;
        padding-top: 15px;
        list-style: none;
        cursor: pointer !important;
    }

        .model_column i {
            font-size: 18px !important;
        }

    .li_model_column_redo:hover {
        background-color: aliceblue !important;
        color: #2196f3 !important;
    }

        .li_model_column_redo:hover span {
            display: block !important;
        }

    .li_model_column_undo:hover {
        background-color: aliceblue !important;
        color: #2196f3 !important;
    }

        .li_model_column_undo:hover span {
            display: block !important;
        }

    .add-ts {
        float: right;
        margin-bottom: 5px;
        border: 1px solid #ddd;
        padding: 4px;
        font-size: 14px;
        color: #005a9e !important;
        list-style: none;
    }
    .margin_ecport1 {
        margin-left: 30px !important;
        margin-right: 0px !important;
    }

    .margin_ecport2 {
        margin-right: 30px !important;
        margin-left: 0px !important;
    }

    .wardall span {
        font-size: 21px !important;
        font-weight: 700 !important;
    }

        .wardall span:hover i {
            color: #2196f3 !important;
        }

    .alert-gray {
        background-color: #f3f2f1 !important;
        color: #000 !important;
    }
</style>
<div class="modal fades" id="ModalExport" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-lg animated zoomIn faster" style="min-width: 600px;">
        <div class="modal-content no-border">
            <!-- Modal Header -->
            <div modal-movable class="modal-header head-modal no-border">
                <h4 class="modal-title">{{dtitle}}</h4>
                <button type="button" class="close"
                        data-dismiss="modal">
                    <i class="la la-times-circle"></i>
                </button>
            </div>
            <!-- Modal Body -->
            <div class="modal-body hoverscroll_export" style="padding:10px 20px; overflow: hidden; min-height: unset; outline: none; max-height: calc(100vh - 300px);">
                <form id="frDXTuyendung" name="frDXTuyendung">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-12" style="padding-left: 20px !important; padding-right: 20px !important">
                                    <label><span class="fw-600">Chọn cột thông tin cần xuất</span></label>
                                </div>
                                <div class="col-md-12 p-5">
                                    <div class="row">
                                        <div class="col-md-5 hoverscroll border_export margin_ecport1" style="overflow-y: hidden; min-height: calc(100vh - 400px); max-height: calc(100vh - 400px); ">
                                            <div class="span4 offset4">
                                                <ul class="model_column">
                                                    <li class="li_model_column_redo alert alert-gray nomargin" ng-repeat="item in listData_Column" ng-click="push_Filter_DataColumn(item)">
                                                        <div style="display:flex; justify-content: space-between">
                                                            <span>{{item.name}}</span>
                                                            <span style="display: none" tooltip-placement="bottom" uib-tooltip="Select"><i class="la la-redo"></i></span>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="col-md-1 p-0 wardall text-center">
                                            <div>
                                                <span ng-click="push_Filter_DataColumn()" tooltip-placement="top" uib-tooltip="Select all" style="cursor: pointer;"><i class="fa fa-angle-double-right"></i></span>
                                            </div>
                                            <div>
                                                <span ng-click="remove_rowDataColumn()" tooltip-placement="bottom" uib-tooltip="Remove all" style="cursor: pointer;"><i class="fa fa-angle-double-left"></i></span>
                                            </div>
                                        </div>
                                        <div class="col-md-5 hoverscroll border_export margin_ecport2" style="overflow-y: hidden; min-height: calc(100vh - 400px); max-height: calc(100vh - 400px); ">
                                            <div class="span4 offset4">
                                                <ul class="model_column" id="single" dnd-list="listData_Filter_Column">
                                                    <li class="li_model_column_undo alert alert-gray nomargin" ng-repeat="item in listData_Filter_Column">
                                                        <div style="display:flex; justify-content: space-between">
                                                            <span>{{item.name}}</span>
                                                            <span style="display: none" tooltip-placement="bottom" uib-tooltip="Remove" ng-click="remove_rowDataColumn(item)"><i class="la la-remove"></i></span>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <!--Modal Footer-->
            <div class="modal-footer" style="border-top:none!important;display:block;font-weight:500">
                <button type="button" class="btn btn-primary" id="btnDisPlayPrint" ng-click="ExportExcelDanhsach()" style="float:right;"><i class="las la-file-export" style="font-size:17px;"></i> Xuất Excel</button>
                <button type="button" class="btn btn-primary" id="btnDisPlayPrint" ng-click="PrintDanhsach()" style="float:right;"><i class="las la-print" style="font-size:17px;"></i> In phiếu</button>
                <button type="button" class="btn btn-secondary btnCancelFrom" data-dismiss="modal" style="float:left">Thoát</button>
            </div>
        </div>
    </div>
</div>
<script src="../../Scripts/jquery-ui-1.12.1.min.js"></script>