﻿<div class="modal fadess" id="phongsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <!-- Modal Header -->
            <div modal-movable class="modal-header head-modal">
                <button type="button" class="close"
                        data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Thoát</span>
                </button>
                <h4 class="modal-title" ng-bind="::$ctrl.hTitle"></h4>
            </div>
            <!-- Modal Body -->
            <div class="modal-body" style="height: calc(100vh - 160px);">
                <div class="row">
                    <div class="panel panel-default">
                        <div class="panel-heading"><b><i class="fa fa-folder-open" aria-hidden="true"></i> Danh sách phòng ban</b></div>
                        <div class="panel-body" style="height: calc(100vh - 300px);overflow-y: auto;">
                            <ul class="ulfolder">
                                <li>
                                    <input type="checkbox" ng-model="isCheckAll" ng-change="$ctrl.changeCheckCty($root.congty.Congty_ID,isCheckAll)" />
                                    <a ng-class="$root.congty.isCheck"><i ng-click="$ctrl.toogleModel($root.congty)" class="treefo fas fa-{{!$root.congty.close?'caret-down':'caret-right'}}"></i><img ng-src="{{baseUrl+'/Content/icon/MyBox.ico'}}" /><b ng-bind="$root.congty.tenCongty"></b></a>
                                    <ul style="margin-top:5px;padding-left:20px;" ng-if="!$root.congty.close">
                                        <li ng-repeat="m in $ctrl.phongbans|filter:{Congty_ID:$root.congty.Congty_ID}|filter:{Parent_ID:'!'} track by $index" ng-init="m.Childs=($ctrl.phongbans|filter:{Parent_ID:m.Phongban_ID}:true)">
                                            <label class="{{m.isCheck}}">
                                                <input type="checkbox" ng-model="m.isCheck" ng-change="$ctrl.getCheckPbChild(m)" />
                                                <i ng-if="m.Childs.length>0" ng-click="$ctrl.toogleModel(m)" class="treefo fas fa-{{!m.close?'caret-down':'caret-right'}}"></i>
                                                <img ng-click="SelectModel(m)" height="16" ng-src="{{baseUrl+'/Content/icon/folder.ico'}}" /><span ng-click="SelectModel(m)" class="{{m.select}}">{{m.tenPhongban}}</span>
                                                <span ng-if="(m.users|filter:$ctrl.checkUFilter).length>0" class="badge" style="background-color:red;margin-left:5px" ng-bind="(m.users|filter:$ctrl.checkUFilter).length"></span>
                                            </label>
                                            <div ng-if="m.Childs.length>0 && !m.close" onload="fo=m.Childs" ng-include="'models.html'"></div>
                                        </li>
                                        <li ng-repeat="c in $root.childcongtys|filter:{Parent_ID:$root.congty.Congty_ID}:true" ng-init="c.phongbans=($ctrl.phongbans|filter:{Congty_ID:c.Congty_ID}|filter:{Parent_ID:'!'}:true);c.ctys=($root.childcongtys|filter:{Parent_ID:c.Congty_ID}:true)">
                                            <input type="checkbox" ng-model="c.isCheck" ng-change="$ctrl.changeCheckCty(c.Congty_ID,c.isCheck)" />
                                            <a ng-class="c.isCheck" ng-click="$ctrl.goCtyFilter(c)"><i ng-if="c.phongbans.length" ng-click="$ctrl.toogleModel(c)" class="treefo fas fa-{{!c.close?'caret-down':'caret-right'}}"></i><img width="16" ng-src="{{baseUrl+'/Content/icon/MyBox.ico'}}" /><b style="font-size:13px" ng-bind="c.tenCongty"></b></a>
                                            <ul ng-if="!c.close" style="margin-top:5px;padding-left:20px;">
                                                <li ng-repeat="m in c.phongbans  |filter:{Parent_ID:'!'} track by $index" ng-init="m.Childs=($ctrl.phongbans|filter:{Parent_ID:m.Phongban_ID}:true)">
                                                    <label class="{{m.isCheck}}">
                                                        <input type="checkbox" ng-model="m.isCheck" ng-change="$ctrl.getCheckPbChild(m)" />
                                                        <i ng-if="m.Childs.length>0" ng-click="$ctrl.toogleModel(m)" class="treefo fas fa-{{!m.close?'caret-down':'caret-right'}}"></i>
                                                        <img ng-click="SelectModel(m)" height="16" ng-src="{{baseUrl+'/Content/icon/folder.ico'}}" /><span ng-click="SelectModel(m)" class="{{m.select}}">{{m.tenPhongban}}</span>
                                                        <span ng-if="(m.users|filter:$ctrl.checkUFilter).length>0" class="badge" style="background-color:red;margin-left:5px" ng-bind="(m.users|filter:$ctrl.checkUFilter).length"></span>
                                                    </label>
                                                    <div ng-if="m.Childs.length>0 && !m.close" onload="fo=m.Childs" ng-include="'models.html'"></div>
                                                </li>
                                                <li ng-if="c.ctys.length>0 && !m.close" onload="fo=c.ctys" ng-include="'congty.html'"></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                            <script type="text/ng-template" id="models.html">
                                <ul>
                                    <li ng-repeat="m in fo track by $index" ng-init="m.Childs=($ctrl.phongbans|filter:{Parent_ID:m.Phongban_ID}:true)">
                                        <label class="{{m.isCheck}}">
                                            <input type="checkbox" ng-model="m.isCheck"  ng-change="$ctrl.getCheckPbChild(m)"/>
                                            <i ng-if="m.Childs.length>0" ng-click="$ctrl.toogleModel(m)" class="treefo fas fa-{{!m.close?'caret-down':'caret-right'}}"></i>
                                            <img height="16" ng-src="{{baseUrl+'/Content/icon/folder.ico'}}" ng-click="SelectModel(m)" /><span ng-click="SelectModel(m)" class="{{m.select}}">{{m.tenPhongban}}</span>
                                            <span ng-if="(m.users|filter:$ctrl.checkUFilter).length>0" class="badge" style="background-color:red;margin-left:5px;" ng-bind="(m.users|filter:$ctrl.checkUFilter).length"></span>
                                        </label>
                                        <div ng-if="m.Childs.length>0 && !m.close" onload="fo=m.Childs" ng-include="'models.html'"></div>
                                    </li>
                                </ul>
                            </script>
                            <script type="text/ng-template" id="congty.html">
                                <div ng-repeat="c in fo" ng-init="c.phongbans=($ctrl.phongbans|filter:{Congty_ID:c.Congty_ID}|filter:{Parent_ID:'!'}:true);c.ctys=($root.childcongtys|filter:{Parent_ID:c.Congty_ID}:true)">
                                    <input type="checkbox" ng-model="c.isCheck" ng-change="$ctrl.changeCheckCty(c.Congty_ID,c.isCheck)" />
                                    <a ng-class="c.isCheck"><i ng-if="c.phongbans.length" ng-click="$ctrl.toogleModel(c)" class="treefo fas fa-{{!c.close?'caret-down':'caret-right'}}"></i><img width="16" ng-src="{{baseUrl+'/Content/icon/MyBox.ico'}}" /><b style="font-size:13px" ng-bind="c.tenCongty"></b></a>
                                    <ul ng-if="!c.close" style="margin-top:5px;padding-left:20px;">
                                        <li ng-repeat="m in c.phongbans |filter:{Parent_ID:'!'} track by $index" ng-init="m.Childs=($ctrl.phongbans|filter:{Parent_ID:m.Phongban_ID}:true)">
                                            <label class="{{m.isCheck}}">
                                                <input type="checkbox" ng-model="m.isCheck" ng-change="$ctrl.getCheckPbChild(m)" />
                                                <i ng-if="m.Childs.length>0" ng-click="$ctrl.toogleModel(m)" class="treefo fas fa-{{!m.close?'caret-down':'caret-right'}}"></i>
                                                <img ng-click="SelectModel(m)" height="16" ng-src="{{baseUrl+'/Content/icon/folder.ico'}}" /><span ng-click="SelectModel(m)" class="{{m.select}}">{{m.tenPhongban}}</span>
                                                <span ng-if="(m.users|filter:$ctrl.checkUFilter).length>0" class="badge" style="background-color:red;margin-left:5px" ng-bind="(m.users|filter:$ctrl.checkUFilter).length"></span>
                                            </label>
                                            <div ng-if="m.Childs.length>0 && !m.close" onload="fo=m.Childs" ng-include="'models.html'"></div>
                                        </li>
                                        <li ng-if="c.ctys.length>0 && !m.close" onload="fo=c.ctys" ng-include="'congty.html'"></li>
                                    </ul>
                                </div>
                            </script>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Modal Footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" ng-click="$ctrl.ChoiceUser()">
                    <i class="fa fa-save"></i> Chọn
                </button>
                <button type="button" class="btn btn-default"
                        data-dismiss="modal">
                    <i class="fa fa-power-off"></i>Thoát
                </button>
            </div>
        </div>
    </div>
</div>

<style>
    ul.ulfolder li label span:hover {
        color: #4585f4 !important;
    }
</style>