﻿<div class="modal fades" id="modalfileProgress" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static" style="background-color: rgba(0,0,0,.6);">
    <div class="modal-dialog modal-md animated zoomIn faster" style="height: 100%;width: 100%;display: flex;align-items: center;">
        <div class="modal-content no-border" style="background-color:#fff;padding:50px">
            <b id="bpo" style="padding:5px;text-align:center">Đang tải dữ liệu</b>
            <div style="display:flex">
                <progress id="fileProgress" style="display: none;width:100%;margin-top:10px"></progress>
                <span id="podes" style="padding: 0px 10px;font-weight: bold;color: green;font-size: 20px;"></span>
            </div>
        </div>
    </div>
</div>