﻿@{
    Layout = null;
    string domainName = HttpContext.Current.Request.Url.GetLeftPart(UriPartial.Authority);
    string domainRoot = domainName;// "http://businessportal.vn";
}
<!doctype html>
<html>
<head>
    <base href="/">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="preload" as="image" href="/assets/static/images/bg.jpg" crossorigin>
    <title>Smart Office</title>
    <style>
        .box-module {
            margin: 10px 20px;
            text-align: center;
            padding: 20px;
            border: 1px solid transparent
        }

        .mod-name {
            font-weight: 600;
            margin-top: 5px;
            color: #333
        }

            .mod-name a {
                color: #333
            }

                .mod-name a:hover, .box-module:hover .mod-name {
                    color: #2196f3
                }

        .mod-des {
            font-size: 13px;
            color: #72777a;
            white-space: nowrap;
        }

        .box-module:hover {
            border: 1px solid #eee;
            background-color: #f5f5f5
        }

        #loader {
            transition: all .3s ease-in-out;
            opacity: 1;
            visibility: visible;
            position: fixed;
            height: 100vh;
            width: 100%;
            background: #fff;
            z-index: 90000
        }

            #loader.fadeOut {
                opacity: 0;
                visibility: hidden
            }

        .spinner {
            width: 40px;
            height: 40px;
            position: absolute;
            top: calc(50% - 20px);
            left: calc(50% - 20px);
            background-color: #333;
            border-radius: 100%;
            -webkit-animation: sk-scaleout 1s infinite ease-in-out;
            animation: sk-scaleout 1s infinite ease-in-out
        }

        @@-webkit-keyframes sk-scaleout {
            0% {
                -webkit-transform: scale(0)
            }

            100% {
                -webkit-transform: scale(1);
                opacity: 0
            }
        }

        @@keyframes sk-scaleout {
            0% {
                -webkit-transform: scale(0);
                transform: scale(0)
            }

            100% {
                -webkit-transform: scale(1);
                transform: scale(1);
                opacity: 0
            }
        }

        .module-footer-name {
            float: left;
            font-weight: bold;
            color: #0078d4;
        }

        .counter {
            background-color: #ff3c7e;
            border-radius: 50px;
            color: #fff;
            font-size: 10px;
            line-height: 1;
            padding: 3px 5.5px;
            position: absolute;
            right: 6px;
            top: 6px;
        }

        .count-vb {
            float: right;
            margin-top: 7px;
        }

        li.nav-item.actived {
            background-color: #f8fafb;
            border-left: 2px solid #2196f3 !important;
        }

            .sidebar-menu li a.active, li.nav-item.actived a {
                color: #2196f3 !important;
            }
    </style>
    <link href="@Url.Content("~/Content/line-awesome/css/line-awesome.min.css")" rel="stylesheet">
    <link href="@Url.Content("~/Content/sweetalert2/sweetalert2.min.css")" rel="stylesheet">
    <link href="@Url.Content("~/Content/animate.min.css")" rel="stylesheet">
    <link href="@Url.Content("~/Scripts/toastr.min.css")" rel="stylesheet">
    <link href="@Url.Content("~/Content/angular-datepicker/datetimepicker.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Scripts/OwlCarousel/assets/owl.carousel.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Scripts/oiselect/select.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Scripts/customSelect/css/style.css")" rel="stylesheet" type="text/css" />
    <link href="~/site.css" rel="stylesheet">
    <link href="~/style.css" rel="stylesheet">
</head>
<body class="app" ng-app="os" ng-cloak>
    <div id="loader">
        <div class="spinner"></div>
    </div>
    <script>
        window.addEventListener('load', function load() {
            const loader = document.getElementById('loader');
            setTimeout(function () {
                loader.classList.add('fadeOut');
            }, 300);
        });</script>
    <div ng-show="isLogin" ng-controller="MainCtr">
        <div>
            <div class="sidebar">
                <div class="sidebar-inner">
                    <div class="sidebar-logo">
                        <div class="peers ai-c fxw-nw">
                            <div class="peer peer-greed">
                                <a class="sidebar-link td-n" href="{{$root.domainUrl}}">
                                    <div class="peers ai-c fxw-nw">
                                        <div class="peer">
                                            <div class="logo"><img src="~/assets/static/images/logo.png" alt="" height="48" style="margin-top:6px;"></div>
                                        </div>
                                        <div class="peer peer-greed">
                                            <h5 class="lh-1 mB-0 logo-text">Smart Office</h5>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="peer">
                                <div class="mobile-toggle sidebar-toggle">
                                    <a href="" class="td-n"><i class="ti-arrow-circle-left"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <style>
                        .bgc-grey-100, .bgcH-grey-100:hover {
                            background-color: transparent !important;
                        }
                    </style>
                    <ul class="sidebar-menu scrollable pos-r ">
                        <li class="nav-item dropdown {{!$root.link?'actived':''}}">
                            <a class="nav-item dropdown {{!$root.link?'active':''}}" href="" ng-click="goMenuHome()">
                                <span class="icon-holder">
                                    <i class="c-red-500 fa fa-dashboard"></i>
                                </span><span class="title">Dashboard</span>
                            </a>
                        </li>
                        <li class="nav-item dropdown">
                            <a href="" class="{{($root.link==='nhomform' || $root.link==='mauform' || $root.link==='nhomteam' || $root.link==='khaibaoteam' || $root.link==='formsetupteam')?'active':''}}">
                                <span class="icon-holder"><i class="c-orange-500 ti-view-list-alt"></i></span><span class="title">Khai báo và thiết lập</span>
                                <span class="arrow"><i class="ti-angle-right"></i></span>
                            </a>
                            <ul class="dropdown-menu" style="max-height:calc(100vh - 230px);overflow-y:auto">
                                <li class="nav-item dropdown {{$root.link==='mauform'?'actived':''}}" ng-if="$root.roles_Root">
                                    <a ng-click="goMenu('mauform')" ng-class="{{$root.link==='mauform'?'active':''}}" class="d-b td-n pY-5 bgcH-grey-100 c-grey-700" href="">
                                        <span class="title">
                                            Mẫu đề xuất
                                        </span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="page-container">
                <div class="header navbar">
                    <div class="header-container">
                        <ul class="nav-left">
                            <li>
                                <a id="sidebar-toggle" class="sidebar-toggle" href=""><i class="ti-menu"></i></a>
                            </li>
                            @*<li class="search-box">
                                    <a class="search-toggle no-pdd-right" href="">
                                        <i class="search-icon ti-search pdd-right-10"></i> <i class="search-icon-close ti-close pdd-right-10"></i>
                                    </a>
                                </li>*@
                            <li class="search-input"><input class="form-control" type="text" ng-model="$root.search" my-enter="rootSearch()" placeholder="Search..."></li>
                            <li ng-if="$root.TenDuan" style="padding-top: 17px;font-size: 1.1rem;color: #fff;text-transform: uppercase;"><b>{{$root.TenDuan}}</b></li>
                        </ul>
                        <topbar urlLink="#"></topbar>
                    </div>
                </div>
                <main class="main-content bgc-grey-100" style="background-color: #f9fafb !important;">
                    <div id="mainContent">
                        <div class="full-container">
                            <ui-view></ui-view>
                        </div>
                    </div>
                </main>
                <footer class="bdT ta-c p-30 lh-0 fsz-sm c-grey-600" style="background-color: #f9fafb">
                    <span class="module-footer-name">
                        S.Request - Phê duyệt điện tử
                    </span>
                    <span>
                        © 2020 <a href="https://soe.vn" target="_blank" title="Smart Office">SOE</a> - All rights reserved.
                    </span>
                </footer>
            </div>
        </div>
    </div>
    <div ng-if="!isLogin" ng-controller="LoginCtr">
        <div class="peers ai-s fxw-nw h-100vh">
            <div class="d-n@sm- peer peer-greed h-100 pos-r bgr-n bgpX-c bgpY-c bgsz-cv">
                <img style="width: 100%; height: 100%;" ng-src="{{$root.domainUrl + '/assets/static/images/bg.jpg'}}">
            </div>
            <div class="col-12 col-md-4 peer pX-40 pY-80 h-100 bgc-white scrollable pos-r" style="min-width:320px;padding-top: calc(100vh/2 - 210px)!important;">
                <div ng-if="!$root.objgetLogin" class="log-logo" style="text-align: center;padding: 10px;"><img src="../../assets/static/images/logo.png" alt="" height="60"></div>
                <div ng-if="$root.objgetLogin">
                    <img ng-src="{{domainUrl+($root.objgetLogin.u.anhDaiDien != null ?$root.objgetLogin.u.anhDaiDien:'/Content/noavatar.jpg')}}" alt="{{$root.objgetlogin.u.fullName}}" style="margin: 0 auto;display: block;height: 72px; width: 72px;border-radius: 50%;border: 1px solid #e7dbdb;object-fit: cover;margin-bottom: 15px;">
                </div>
                <h4 class="fw-300 c-grey-900 mB-40">Đăng nhập</h4>
                <form>
                    <div class="form-group">
                        <label class="text-normal text-dark">Tài khoản</label> <input autocomplete="username" type="text" class="form-control" ng-model="login.tenTruyCap" placeholder="">
                    </div>
                    <div class="form-group">
                        <label class="text-normal text-dark">Mật khẩu</label> <input autocomplete="current-password" type="password" ng-model="login.matKhau" class="form-control" placeholder="">
                    </div>
                    <div class="form-group">
                        <div class="peers ai-c jc-sb fxw-nw">
                            <div class="peer">
                                <div class="checkbox checkbox-circle checkbox-info peers ai-c">
                                    <input type="checkbox" id="inputCall1"
                                           name="inputCheckboxesCall" class="peer" ng-model="login.remer"> <label for="inputCall1" class="peers peer-greed js-sb ai-c"><span class="peer peer-greed">Ghi nhớ mật khẩu</span></label>
                                </div>
                            </div>
                            <div class="peer" style="text-align: right;color:#2196f3;"><a ng-click="QuenMatKhau()">Quên mật khẩu</a></div>
                        </div>
                        <div class="peer" style="margin-top: 20px;"><button class="btn btn-primary" style="width: 100%;" ng-click="Login()"><span ng-show="$parent.loadding"><i class="la la-refresh spinning"></i></span>Truy cập</button></div>
                    </div>
                </form>
            </div>

        </div>
    </div>
    <div ng-if="isLogin">
        <chat></chat>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/angular")
    <script src="@Url.Content("~/Scripts/OwlCarousel/owl.carousel.min.js")"></script>
    <script src="@Url.Content("~/Scripts/customSelect/js/customSelect.js")"></script>
    <script src="@Url.Content("~/Content/ckeditor/ckeditor.js")"></script>
    <script src="@Url.Content("~/Content/ckfinder/ckfinder.js")"></script>
    <script src="~/Scripts/ck-editor.js"></script>
    <script src="~/Scripts/jquery.nicescroll.min.js"></script>
    <script src="~/Scripts/angular-nicescroll.js"></script>
    <link href="@Url.Content("~/Content/select2/select2.min.css")" rel="stylesheet" />
    <script src="@Url.Content("~/Content/select2/select2.full.min.js")"></script>
    <script src="@Url.Content("~/Scripts/oiselect/select.min.js")"></script>
    <script src="~/Content/Skin/angular-input-masks/angular-input-masks-dependencies.min.js"></script>
    <script src="~/Content/Skin/angular-input-masks/angular-input-masks.min.js"></script>
    <script src="~/Content/sweetalert2/sweetalert2.all.min.js"></script>
    <script src="~/Content/angular-datepicker/datetimepicker.js"></script>
    <script src="~/Content/angular-datepicker/dateTimeInput.js"></script>
    <script src="~/Scripts/aes.js"></script>
    <script src="@Url.Content("~/App/Chat/emoji.js")"></script>
    <!--amchart Resoureces-->
    <script src="~/Content/amcharts/amcharts.js"></script>
    <script src="~/Content/amcharts/serial.js"></script>
    <script src="~/Content/amcharts/radar.js"></script>
    <script src="~/Content/amcharts/pie.js"></script>
    <script src="~/Content/amcharts/plugins/export/export.min.js"></script>
    <link href="~/Content/amcharts/plugins/export/export.css" rel="stylesheet" />
    <script src="~/Content/amcharts/themes/light.js"></script>
    <link href="@domainName/Content/fancybox/jquery.fancybox.min.css" rel="stylesheet" />
    <script src="@domainName/Content/fancybox/jquery.fancybox.min.js"></script>
    <!--amchart Resoureces Ends Here-->
    <script type="text/javascript" src="@Url.Content("~/App/FireBase/firebase-app.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/App/FireBase/firebase-messaging.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/App/FireBase/firebase-database.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/App/FireBase/initFireBase.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/App/function.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/App/app.js")"></script>
    <script src="@domainName/App/Component/Component.js"></script>
    <script src="@domainRoot/App/Component/topbar.js"></script>
    <script src="@domainRoot/App/Chat/Chat.js"></script>
    <script src="@domainRoot/App/Component/Users.js"></script>
    @*
        <script src="@domainName/App/Component/RequestComponent.js"></script>
        <script src="@domainName/App/Component/Task/AddTaskComponent.js"></script>
        <script src="@domainName/App/Component/Task/ViewTaskComponent.js"></script>
        <script src="@domainName/App/Component/Doc/ViewDocComponent.js"></script>
        <script src="@domainName/App/Component/Calendar/AddCalendarComponent.js"></script>
        <script src="@domainName/App/Component/Calendar/ViewCalendarComponent.js"></script>
    *@
    @*<script src="~/Scripts/Stuk-jszip-25d401e/dist/jszip.js"></script>*@
    <script src="~/Scripts/Stuk-jszip-25d401e/dist/jszip.min.js"></script>
    <script src="~/Scripts/Stuk-jszip-25d401e/dist/jszip-utils.min.js"></script>
</body>
</html>