﻿<style>
    .attach-vb {
        user-select: none;
        padding: 10px;
        width: 200px;
        border-radius: 5px;
        background-color: #f5f5f5;
        float: left;
        margin-left: 10px;
        position: relative;
    }

        .attach-vb:hover i {
            visibility: visible;
        }

    .selcantype .dropdown-menu {
        max-height: 200px;
        overflow-y: auto;
        list-style: none;
        margin: 0;
        padding: 0;
        width: 90%;
        max-width: 90%;
    }

        .selcantype .dropdown-menu li {
            /*background-color: #ddd;*/
            cursor: pointer;
            padding: 6px;
            user-select: none;
            -webkit-user-select: none;
        }

            .selcantype .dropdown-menu li:hover {
                background-color: #5897fb;
                color: white;
            }

                .selcantype .dropdown-menu li:hover a {
                    color: white !important;
                }
    .bullet-before span::before{
        content: "\2022";
        color: #7f7f7f;
        font-size: 150%;
        display: inline-block;
        width: 15px;
    }
    .bullet-before span{
        line-height: 12px;
    }
    #ModalAddVanban .form-group{
        margin-bottom: 0.3rem;
    }
    .static-section {
        background-color: #fff8ee;
        margin-top: 10px;
        border-top: 1px solid #ced4da;
    }
    span.required-field{
        color: red;
    }
     .input-group span.select2.select2-container {
        width: 63% !important;
    }
    .input-group label{
        margin-right: 0.6rem;
        margin-top: 0.3rem;
    }
</style>
<div class="modal fades" id="ModalAddVanban" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-lg animated zoomIn faster" style="max-width: 850px;">
        <div class="modal-content no-border">
            <!-- Modal Header -->
            <div modal-movable class="modal-header head-modal no-border">
                <h4 class="modal-title">{{dtitle}}</h4>
                <button type="button" class="close"
                        data-dismiss="modal">
                    <i class="la la-times-circle"></i>
                </button>
            </div>
            <!-- Modal Body -->
            <div class="modal-body" style="padding: 0">
                <form id="frVanban" name="frVanban">
                    <div class="dynamic-section" style="padding:10px 20px; overflow-y: auto; overflow-x: hidden; min-height: calc(100vh - 313px); max-height: calc(100vh - 395px);">
                        <div class="row">
                            <div class="col-md-12" style="margin-top: -15px;">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="fw-500">Văn bản đến</label>
                                            <label class="switch" style="margin: 5px">
                                                <input ng-disabled="Vanban.vanBanMasterID!=null" type="checkbox" ng-model="Vanban.denDiNoiBo" ng-checked="Vanban.denDiNoiBo===0" ng-true-value="0" checked="checked" />
                                                <span class="slider"></span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="fw-500">Văn bản đi</label>
                                            <label class="switch" style="margin: 5px">
                                                <input ng-disabled="Vanban.vanBanMasterID!=null" type="checkbox" ng-model="Vanban.denDiNoiBo" ng-checked="Vanban.denDiNoiBo===1" ng-true-value="1" checked="checked" />
                                                <span class="slider"></span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="fw-500">Văn bản nội bộ</label>
                                            <label class="switch" style="margin: 5px">
                                                <input ng-disabled="Vanban.vanBanMasterID!=null" type="checkbox" ng-model="Vanban.denDiNoiBo" ng-checked="Vanban.denDiNoiBo===2" ng-true-value="2" checked="checked" />
                                                <span class="slider"></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="fw-500">Trích yếu (<span class="required-field">*</span>)</label>
                                    <textarea ng-model="Vanban.trichYeuNoiDung" style="font-weight: 500" class="form-control" rows="2" required></textarea>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="fw-500">Đơn vị</label>
                                    <select ng-change="BindListScvByCty(Vanban.donVi); GetPhongbanTree(Vanban.donVi)" ng-model="Vanban.donVi" ng-options="item.Congty_ID as item.tenCongty for item in RelCty" data-js-select2 class="form-control"></select>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="fw-500">Nhóm văn bản</label>
                                            <select ng-change="GenerateKyhieuvb(Vanban.NhomvanbanID, Vanban.soCongVanID, Vanban.donVi, Vanban.Phongban_ID)" ng-model="Vanban.NhomvanbanID" ng-options="item.NhomvanbanID as item.tenNhom for item in td.nhomvanban" data-js-select2 class="form-control" required></select>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="fw-500">Phòng ban xử lý</label>
                                            <select ng-change="GenerateKyhieuvb(Vanban.NhomvanbanID, Vanban.soCongVanID, Vanban.donVi, Vanban.Phongban_ID)" ng-model="Vanban.Phongban_ID" ng-options="item.Phongban_ID as item.tenPhongban for item in Phongbans" data-js-select2 class="form-control">
                                                <option value="">Không</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="fw-500">Số ký hiệu (<span class="required-field">*</span>)</label>
                                            <input ng-model="Vanban.soKyHieu" style="font-weight:500" type="text" class="form-control" required>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div ng-if="(Vanban.denDiNoiBo === 0 && td.noibanhanh.length === 1) || (Vanban.denDiNoiBo !== 0 && congtys.length === 1)" class="form-group">
                                            <label class="fw-500">Nơi ban hành (<span class="required-field">*</span>)</label>
                                            <input ng-model="Vanban.noiBanHanh" style="font-weight:500" type="text" class="form-control" required>
                                        </div>
                                        <div ng-if="Vanban.denDiNoiBo === 0 && td.noibanhanh.length > 1" class="form-group">
                                            <label class="fw-500">Nơi ban hành (<span class="required-field">*</span>)</label>
                                            <input list="noibanhanh" ng-model="Vanban.noiBanHanh" style="font-weight:500" type="text" class="form-control" required>
                                            <datalist id="noibanhanh">
                                                <option ng-repeat="n in td.noibanhanh track by n.noiBanHanhID" value="{{n.tenNoiBanHanh}}"></option>
                                            </datalist>
                                        </div>
                                        <div ng-if="Vanban.denDiNoiBo !== 0 && congtys.length > 1" class="form-group selcantype">
                                            <label class="fw-500">Nơi ban hành (<span class="required-field">*</span>)</label>
                                            <input type="text" ng-model="Vanban.noiBanHanh" typeahead-on-select='GetPhongbanTree($item)' style="width: calc(100% - 0px) !important;float: left !important" class="form-control text-company" uib-typeahead="item.Congty_ID as item.tenCongty for item in congtys | filter:$viewValue" uib-typeahead-template-url="itemTpl.html">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-{{Vanban.denDiNoiBo === 0 ? '6' : '12'}}">
                                        <div class="form-group">
                                            <label class="fw-500">Ngày văn bản (<span class="required-field">*</span>)</label>
                                            <div class="input-group">
                                                <input type="text" style="margin-right: 1px;" class="form-control" ng-model="Vanban.ngayVanBan" placeholder="__/__/____" data-date-time-input="DD/MM/YYYY" required />
                                                <div class="dropdown datetimeinput">
                                                    <a class="dropdown-toggle" role="button" data-toggle="dropdown" data-target="#">
                                                        <span style="height: 35px" class="input-group-append">
                                                            <span class="input-group-text" style="background: #fff;border-left: 0;"><i class="ti-calendar"></i></span>
                                                        </span>
                                                    </a>
                                                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                                        <datetimepicker ng-model="Vanban.ngayVanBan" data-datetimepicker-config="{ dropdownSelector: '.dropdown-toggle',startView:'day', minView:'day' }"></datetimepicker>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div ng-if="Vanban.denDiNoiBo === 0" class="col-md-6">
                                        <div class="form-group">
                                            <label class="fw-500">Ngày đến</label>
                                            <div class="dropdown datetimeinput">
                                                <a class="dropdown-toggle" role="button" data-toggle="dropdown" data-target="#">
                                                    <div class="input-group">
                                                        <input type="text" class="form-control" ng-model="Vanban.ngayDen" placeholder="dd/MM/yyyy" data-date-time-input="DD/MM/YYYY" required />
                                                        <span class="input-group-append"><span class="input-group-text" style="background: #fff;border-left: 0;"><i class="ti-calendar"></i></span></span>
                                                    </div>
                                                </a>
                                                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                                    <datetimepicker ng-model="Vanban.ngayDen" data-datetimepicker-config="{ dropdownSelector: '.dropdown-toggle',startView:'day', minView:'day' }"></datetimepicker>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group selcantype">
                                            <label class="fw-500">Người ký</label>
                                            <input type="text" ng-model="Vanban.tenNguoiKy" typeahead-on-select='BindChucvuByNguoiky($item,1)' style="width: calc(100% - 0px) !important;float: left !important" class="form-control text-company" uib-typeahead="item.nguoiKyID as item.tenNguoiKy for item in nk | filter:$viewValue" uib-typeahead-template-url="itemTpl.html">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="fw-500">Chức vụ</label>
                                            <input list="chucvu" ng-model="Vanban.chucVu" type="text" class="form-control">
                                            <datalist id="chucvu">
                                                <option ng-repeat="n in td.chucvu track by n.chucVuID" value="{{n.tenChucVu}}"></option>
                                            </datalist>
                                            <!--<input ng-model="Vanban.chucVu" style="font-weight:500" type="text" class="form-control" readonly>-->
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="fw-500">Thuộc lĩnh vực</label>
                                            <select ng-model="Vanban.linhVuc" ng-options="item.linhvucID as item.tenLinhVuc for item in td.linhvuc" data-js-select2 class="form-control"></select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="fw-500">Nơi nhận</label>
                                            <input list="noiNhan" ng-model="Vanban.noiNhan" style="font-weight:500" type="text" class="form-control">
                                            <datalist id="noiNhan">
                                                <option ng-repeat="n in td.noinhan track by n.noiNhanID" value="{{n.tenNoiNhan}}"></option>
                                            </datalist>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="fw-500">Độ khẩn</label>
                                            <select ng-model="Vanban.doKhanID" ng-options="item.doKhanID as item.Dokhan for item in td.dokhan" data-js-select2 class="form-control"></select>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="fw-500">Độ mật</label>
                                            <select ng-model="Vanban.doMatID" ng-options="item.doMatID as item.Domat for item in td.domat" data-js-select2 class="form-control"></select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="fw-500">Hình thức gửi</label>
                                            <select ng-model="Vanban.hinhThucGui" ng-options="item.hinhThucGuiID as item.tenHinhThuc for item in td.hinhthucgui" data-js-select2 class="form-control"></select>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="fw-500">Số trang</label>
                                            <input style="font-weight: 500;" type="number" class="form-control" ng-model="Vanban.soTrang" required />
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="fw-500">Số lượng bản</label>
                                            <input style="font-weight: 500;" type="number" class="form-control" ng-model="Vanban.soLuongBan" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group" style="margin-top: 18px;">
                                            <label class="fw-500">
                                                Hạn xử lý
                                            </label>
                                            <label class="switch" style="margin: 5px">
                                                <input type="checkbox" ng-checked="Vanban.hanXuly" ng-model="Vanban.hanXuly" />
                                                <span class="slider">
                                                </span>
                                            </label>
                                        </div>
                                    </div>
                                    <div ng-if="Vanban.hanXuly === true" class="col-md-8">
                                        <div class="form-group">
                                            <label class="fw-500">Ngày xử lý</label>
                                            <div class="dropdown datetimeinput">
                                                <a class="dropdown-toggle" role="button" data-toggle="dropdown" data-target="#">
                                                    <div class="input-group">
                                                        <input type="text" class="form-control" ng-model="Vanban.hanXulyNgay" placeholder="dd/MM/yyyy" data-date-time-input="DD/MM/YYYY" required />
                                                        <span class="input-group-append"><span class="input-group-text" style="background: #fff;border-left: 0;"><i class="ti-calendar"></i></span></span>
                                                    </div>
                                                </a>
                                                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                                    <datetimepicker ng-model="Vanban.hanXulyNgay" data-datetimepicker-config="{ dropdownSelector: '.dropdown-toggle',startView:'day', minView:'day' }"></datetimepicker>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="fw-500"><i class="la la-tag"></i> Tag văn bản liên quan (nếu có):</label>
                                    <div class="ip-us" tabindex="-1">
                                        <ul style="float: left; padding: 0px;" ng-if="Vanban.relvanbans">
                                            <li style="height: 36px; float: left; list-style-type: none; margin-top: -2px" ng-repeat="m in Vanban.relvanbans track by $index">
                                                <div class="label btn-primary" style="white-space:unset;display: inline-flex;">
                                                    <strong ng-bind="m.trichYeuNoiDung" style="padding:5px"></strong>
                                                    <i class="la la-times" style="color:#fff;" ng-click="removetag(Vanban.relvanbans, Vanban.relvanbans ,$index)"></i>
                                                </div>
                                            </li>
                                        </ul>
                                        <input ng-keyup="completeRelVBtag(Vanban.searchV,Vanban,$event,'1')" ng-click="completeRelVBtag(Vanban.searchV,Vanban,$event,'1')" ng-model="Vanban.searchV" class="ipautoUser {{Vanban.Focus1}}" style="border: none; background-color: transparent; padding: 7px 0px;" placeholder="Ấn để thêm" ng-mouseover="Vanban.Focus1=false" />

                                    </div>
                                    <div ng-if="Vanban.Focus1" class="bg-white" style="border: 1px solid #ced4da; width: 95%; border-radius: 5px; position: absolute; z-index: 9">
                                        <ul style="margin: 0; padding: 0; margin-top: 5px; max-height: 264px; overflow: auto;" tabindex="0" ng-keydown="handleKeyDown($event)" aria-expanded="true" aria-hidden="false">
                                            <li class="li-tag-news {{focusedIndex == $index?'focus':''}}" ng-repeat="u in relvanbans| limitTo : 20 " ng-click="clickAddRelVB(Vanban,u)" ng-mouseover="$parent.focusedIndex = $index">
                                                <div ng-class="u.IsActive">
                                                    <div class="bullet-before" style="margin-left:5px">
                                                        <span style="padding:5px">
                                                            {{u.trichYeuNoiDung + (u.soKyHieu?(' (' + u.soKyHieu + ')'):'')}}
                                                        </span>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                        <div class="clr"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <p>
                                    <a class="btn btn-more collapsed" data-toggle="collapse" data-target="#collapseForm1" aria-expanded="false">
                                        <i class="la la-plus"></i> THÔNG TIN KHÁC
                                    </a>
                                </p>
                                <div class="collapse" id="collapseForm1" style="">
                                    <div class="card card-body">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label class="fw-500">Từ khoá</label>
                                                    <input ng-model="Vanban.tuKhoa" style="font-weight:500" type="text" class="form-control">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="fw-500">Ngày có hiệu lực</label>
                                                    <div class="dropdown datetimeinput">
                                                        <a class="dropdown-toggle" role="button" data-toggle="dropdown" data-target="#">
                                                            <div class="input-group">
                                                                <input type="text" class="form-control" ng-model="Vanban.ngayCoHieuLuc" placeholder="__/__/____" data-date-time-input="DD/MM/YYYY" />
                                                                <span class="input-group-append"><span class="input-group-text" style="background: #fff;border-left: 0;"><i class="ti-calendar"></i></span></span>
                                                            </div>
                                                        </a>
                                                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                                            <datetimepicker ng-model="Vanban.ngayCoHieuLuc" data-datetimepicker-config="{ dropdownSelector: '.dropdown-toggle',startView:'day', minView:'day' }"></datetimepicker>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="fw-500">Ngày hết hiệu lực</label>
                                                    <div class="dropdown datetimeinput">
                                                        <a class="dropdown-toggle" role="button" data-toggle="dropdown" data-target="#">
                                                            <div class="input-group">
                                                                <input type="text" class="form-control" ng-model="Vanban.ngayHetHieuLuc" placeholder="__/__/____" data-date-time-input="DD/MM/YYYY" />
                                                                <span class="input-group-append"><span class="input-group-text" style="background: #fff;border-left: 0;"><i class="ti-calendar"></i></span></span>
                                                            </div>
                                                        </a>
                                                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                                            <datetimepicker ng-model="Vanban.ngayHetHieuLuc" data-datetimepicker-config="{ dropdownSelector: '.dropdown-toggle',startView:'day', minView:'day' }"></datetimepicker>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <label class="mT-10">THÔNG TIN LƯU TRỮ</label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="fw-500">Phòng/Kho</label>
                                                    <input ng-model="Vanban.PhongKho" style="font-weight:500" type="text" class="form-control">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="fw-500">Tủ</label>
                                                    <input ng-model="Vanban.Tu" style="font-weight:500" type="text" class="form-control">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="fw-500">Kệ</label>
                                                    <input ng-model="Vanban.Ke" style="font-weight:500" type="text" class="form-control">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="fw-500">Hộp</label>
                                                    <input ng-model="Vanban.Hop" style="font-weight:500" type="text" class="form-control">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label class="fw-500">Ghi chú</label>
                                                    <textarea ng-model="Vanban.GhiChu" style="font-weight: 500" class="form-control" rows="2"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div ng-if="Vanban.nguoitheodois.length > 0" class="col-md-12">
                                <div class="d-flex mL-0">
                                    <label class="fw-500">Người theo dõi:</label>
                                    <div class="card-users" style="height: 32px; text-align: left; margin: 0; margin-left: 15px; margin-top: -5px">
                                        <ul>
                                            <li ng-click="openModalNguoitheodoi(Vanban.nguoitheodois)" ng-repeat="u in Vanban.nguoitheodois | limitTo: 5 track by $index" class="IsType0">
                                                <img style="margin-bottom: 24px;" tooltip-placement="top" uib-tooltip-html="u.tooltip" ng-if="u.anhThumb && u.anhThumb!=='/Content/noavatar.jpg'" class="ava" ng-src="{{fileUrl+(u.anhThumb||'/Content/noavatar.jpg')}}" on-error="/Content/noavatar.jpg" />
                                                <div tooltip-placement="top" uib-tooltip-html="u.tooltip" class="divav" style="display:{{!u.anhThumb || u.anhThumb==='/Content/noavatar.jpg'?'block':'none'}};background-color:{{bgColor[$index%7]}};color:#fff!important;text-align:center;border-radius:50%; margin-bottom: 24px;">
                                                    <span>{{u.ten.trim().substring(0,1)}}</span>
                                                </div>
                                            </li>
                                            <li ng-click="openModalNguoitheodoi(Vanban.nguoitheodois)" ng-if="Vanban.nguoitheodois.length>5" class="IsType1">
                                                <div tooltip-placement="top" uib-tooltip="Xem thêm" class="divav" style="background-color:#f8fafb;color:#98a9bc!important;text-align:center;border-radius:50%;padding-top: 21px;margin-left:-16px;border: none; margin-bottom: 24px;">
                                                    <span>+{{Vanban.nguoitheodois.length-5}}</span>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="static-section" style="padding: 10px 20px">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-3" style="margin-top: -12px;">
                                        <div class="form-group">
                                            <label class="fw-500">Vào sổ tự động</label>
                                            <label class="switch" style="margin: 5px">
                                                <input type="checkbox" ng-change="IsSotudong()" ng-checked="Vanban.sotudong" ng-model="Vanban.sotudong" />
                                                <span class="slider">
                                                </span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-md-5">
                                        <div class="input-group">
                                            <label class="fw-500">Vào sổ công văn</label>
                                            <select ng-change="IsSotudong(); GenerateKyhieuvb(Vanban.NhomvanbanID, Vanban.soCongVanID, Vanban.donVi, Vanban.Phongban_ID)" required ng-model="Vanban.soCongVanID" ng-options="item.soCongVanID as item.tenSoCongVan for item in scv" data-js-select2 class="form-control append"></select>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="input-group">
                                            <label class="fw-500">Số vào sổ</label>
                                            <input ng-disabled="Vanban.sotudong" ng-model="Vanban.maSoVaoSo" style="font-weight:500; text-align: center" type="text" class="form-control" required>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <div style="float: left">
                                            <button ng-click="openAttachfile($event)" type="button" class="btn btn-primary inputimgFile float-left" uib-tooltip="Chọn file" tooltip-placement="bottom" style="border-radius: 3px; margin-top: 5px;display:block">
                                                <i style="color: #fff; font-size: 18px;margin: 0" class="fa fa-upload" aria-hidden="true"></i>
                                            </button>
                                            <label style="margin: 10px 0px 0px 10px" class="fw-500">Văn bản đính kèm (Scan)</label>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="mT-10">
                                            <div ng-if="VBAttach !== '' && VBAttach !== null" class="attach-vb">
                                                <img style="float:left;" width="24" ng-src="/Content/file/{{VBAttach.name.split('.').pop()}}.png" src="/Content/file/{{VBAttach.name.split('.').pop()}}.png">
                                                <div style="display: block; width: 151px; float: left; margin-left: 5px; word-wrap: break-word">{{VBAttach.name}}</div>
                                                <a ng-click="removeAtchVB()"><i class="fa fa-trash cancel"></i></a>
                                            </div>
                                            <div ng-if="Vanban.tailieuPath !== '' && Vanban.tailieuPath !== null" class="attach-vb">
                                                <img style="float:left;" width="24" ng-src="/Content/file/{{Vanban.tailieuTen.split('.').pop()}}.png" src="/Content/file/{{Vanban.tailieuTen.split('.').pop()}}.png">
                                                <div style="display: block; width: 151px; float: left; margin-left: 5px; word-wrap: break-word">{{Vanban.tailieuTen}}</div>
                                                <a ng-click="deleteAtchVB()"><i class="fa fa-trash cancel"></i></a>
                                            </div>
                                        </div>
                                        <input type="file" style="display:none" name="AttachVBFWorks" id="AttachVBFWorks" class="inputimgFile" multiple="" accept=".pdf,.png, .jpg, .jpeg" ngf-select="UploadVBAttach($files)">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <div class="float-left">
                                            <button ng-click="openAttachfile($event)" type="button" class="btn btn-primary inputimgFile float-left" uib-tooltip="Chọn file" tooltip-placement="bottom" style="border-radius: 3px; margin-top: 5px;display:block">
                                                <i style="color: #fff; font-size: 18px;margin: 0" class="fa fa-upload" aria-hidden="true"></i>
                                            </button>
                                            <label style="margin: 10px 0px 0px 10px" class="fw-500">Tài liệu đính kèm khác</label>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="mT-10">
                                            <div ng-repeat="ffile in ListFilesTemp track by $index" class="attach-vb mT-5">
                                                <img style="float:left;" width="24" ng-src="/Content/file/{{ffile.name.split('.').pop()}}.png" src="/Content/file/{{ffile.name.split('.').pop()}}.png">
                                                <div style="display: block; width: 151px; float: left; margin-left: 5px; word-wrap: break-word">{{ffile.name}}</div>
                                                <a ng-click="removeFilesList(ListFilesTemp,$index)"><i class="fa fa-trash cancel"></i></a>
                                            </div>
                                            <div ng-repeat="ffile in ListFiles track by $index" class="attach-vb mT-5 cur-p">
                                                <a style="color: #72777a" ng-href="{{fileUrl + ffile.tailieuPath}}">
                                                    <img style="float:left;" width="24" ng-src="/Content/file/{{ffile.tailieuTen.split('.').pop()}}.png" src="/Content/file/{{ffile.tailieuTen.split('.').pop()}}.png">
                                                    <div style="display: block; width: 151px; float: left; margin-left: 5px; word-wrap: break-word">{{ffile.tailieuTen}}</div>
                                                </a>
                                                <a ng-click="deleteFilesList(ffile,$index)"><i class="fa fa-trash cancel"></i></a>
                                            </div>
                                        </div>
                                        <input type="file" style="display:none" name="AttachFileFWorks" id="AttachFileFWorks" class="inputimgFile" multiple="" accept=".xlsx,.xls,.doc,.docx,.ppt,.pptx,.txt,.pdf,.png, .jpg, .jpeg" ngf-select="UploadFiles($files)">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <!--Modal Footer-->
            <div class="modal-footer" style="border-top:none!important;display:block;font-weight:500">
                <button type="button" class="btn btn-secondary btnCancelFrom" data-dismiss="modal" style="float:left">Thoát</button>
                <button type="button" class="btn btn-primary btnAddForm" ng-click="AddVanban(frVanban)" style="float:right">Lưu lại</button>
            </div>
        </div>
    </div>
</div>